<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
  </ngx-spinner>
<app-header></app-header>

<div class="pro_slide">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-12">
        <div class="heading_pro_sub mt-7">
        <h2>Favourite Items</h2>
        <!-- <div class="text-right viewAllBtnOuter" ><a routerLink="/featured-items" class="viewAllBtn" >View All <i class="fa fa-arrow-circle-right" ></i></a> </div>
        </div> -->
      </div>
      <!-- <div class="col-sm-12">
        <ul class="shortingOuter">
          <li class="sortBy">Sort By:</li>
          <li class=""><a href="javascript:void(0);" data-value="sort_order&amp;order=ASC">Hand-picked</a></li>
          <li class=""><a href="javascript:void(0);"  data-value="p.date_added&amp;order=DESC">Latest Designs</a></li>
          <li [ngClass]="{'active': sortType == 2}"><a href="javascript:void(0);" (click)="myFilterFunction(2)" data-value="p.selling_price&amp;order=ASC">Price - (Low To High)</a></li>
          <li [ngClass]="{'active': sortType == 3}"><a href="javascript:void(0);" (click)="myFilterFunction(3)" data-value="p.selling_price&amp;order=DESC">Price - (High To Low)</a></li>
          <li class=""><a href="javascript:void(0);" data-value="p.special_price&amp;order=DESC">Discount</a>
            <select (change)="onChangeEvent($event,1)" class="form-control" id="discount">
              <option value="1">10%</option>
              <option value="2">20%</option>
              <option value="3">30%</option>
              <option value="4">40%</option>
              <option value="5">50%</option>
              <option value="6">60%</option>
              <option value="7">70%</option>
              <option value="8">80%</option>
              <option value="9">90%</option>
              <option value="10">100%</option>
            </select>
          </li>
          <li class=""><a href="javascript:void(0);" data-value="p.special_price&amp;order=DESC">Size</a>
            <select (change)="onChangeEvent($event,2)" class="form-control" id="size">
              <option *ngFor="let size of sizes" value="{{size.sizeId}}">{{size.sizeTitle}}</option>
            </select>
          </li>
          <li class=""><a href="javascript:void(0);" data-value="p.special_price&amp;order=DESC">Price</a>
            <p>Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</p>

            <p-slider (click)="handleChange()" [(ngModel)]="rangeValues" [style]="{'width':'14em'}" [range]="true"></p-slider>
          </li>
        </ul>


      </div> -->
      <div class="col-md-12" *ngIf="!products">
        <p class="center-align"></p>
        <p class="center-align">Favourite Items not available in the list</p>
      </div>
      <div class="col-md-12" >
        <div class="row" *ngIf="products">

          <div *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: p }; index as i" class="slide  col-sm-6  col-xl-3">
            <div class="pro_d1" >
            <!-- <span class="top-rightLabel" *ngIf="product.isFeaturedProduct == true ">
              <img src="assets/images/feature-label.png">
            </span> -->

            <span class="top-rightLabel" *ngIf="products[i]['favorite'] == true ">
                <!-- <img src="assets/images/feature-label.png">  -->
                <img (click)="myfavouriteItems(product.productId,0,i)" title="Mark as a favourite" src="assets/images/heart-fill.png">
            </span>
            <span class="top-rightLabel" *ngIf="products[i]['favorite'] == false ">
                <!-- <img src="assets/images/feature-label.png">  -->
                <img (click)="myfavouriteItems(product.productId,1,i)" title="Mark as a unfavourite" src="assets/images/heart-icon.png">
            </span>

            <div class="productImgOuter" ><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
            <div class="pro_text_div  proBoxNewDesign">
                <div class="pro_div_heading"> - {{product.category.name}}</div>
              {{product.name}}
              <div class="pro_div_heading"><span><i class="fa fa-inr" aria-hidden="true"></i>
              {{product.totalPrice}}
              <span *ngIf="product.mrp && (product.mrp > product.totalPrice)" style="text-decoration: line-through;">
                ₹{{product.mrp}}</span>
             <!--  <span *ngIf="product.mrp && (product.mrp > product.totalPrice)"> ({{
                (((product.mrp-product.totalPrice)/product.mrp)*100)
                | number: '1.0-0' }}% OFF)
              </span> -->
              </span>
              </div>
              <div class="btnGropup">
              <a routerLink="/productdetails/{{product.productId}}" class="btn btn-pink ">View Details</a>
              <!-- <a href="#" class="btn btn-white pull-right">Add to Cart</a> -->
              </div>
            </div>
            </div>
          </div>


        </div>
         <div class="row" >
            <div class="col-md-12 text-center mt-4 mb-4" >
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>

      </div>
      </div>
    </div>
    </div>

<!-- <app-social></app-social> -->
<app-footer></app-footer>