<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Track Order</h2>
              <ul class="timeline track-order-timeline" *ngIf="tracking">
                <li *ngFor="let tracking of tracking">
                 
                    <label class="btnsuccessful btntxn">
                      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                      {{tracking.location}}
                     </label>
                      <!-- <i class="fa fa-inr" aria-hidden="true"></i> -->
                     
                  
                  <p class="tXnID">Order ID: {{orderId}} | Date: {{tracking.date.split(' ')[0]}} | Status: {{tracking.activity}}</p>
                </li>
              </ul>
              <ul *ngIf="!tracking && noMsg">

                  <p>No record found</p>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>