<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
	<section class="cartOuter">
		<div class="container">
			<div class="accDetailTOp">
				<h3>Account</h3>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<app-profile-sidebar></app-profile-sidebar>
				</div>
				<div class="col-lg-9 col-md-8">
					<div class="shadowWhiteBox jQueryEqualHeight">
						<div class="cartInner">
							<h2>Change Password </h2>

							<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>

							<div class="order_box">
								<div class="row">
									<div class="col-md-12 col-lg-9">
										<form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
											<div class="form-row">
												<div class="form-group col-md-12 col-lg-12">
													<div class="form_tag_div">
														<label for="inputAddress">Old Password <span class="req">*</span></label>
														<input type="password" formControlName="old_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }" />
														<div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
															<div *ngIf="f.old_password.errors.required">Old Password field is required</div>
														</div>
													</div>
												</div>
												</div>
												<div class="form-row">
													<div class="form-group col-md-12 col-lg-12">
														<div class="form_tag_div">
															<label for="inputAddress">New Password <span class="req">*</span></label>
															<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
															<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
																<div *ngIf="f.password.errors.required">Password field is required</div>
																<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-row">
												<div class="form-group col-md-12 col-lg-12">
													<div class="form_tag_div">
														<label for="inputAddress">Confirm Password <span class="req">*</span></label>
														<input type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
														<div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
															<div *ngIf="f.confirm_password.errors.required">Confirm Password field is required</div>
															<div *ngIf="f.confirm_password.errors.notEquivalent">
																Password field value does not match with Confirm Password field value.
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="btn_order_div">
												<a routerLink="/profile" class="btn btn-Cancel">Cancel</a>
												<button class="btn btn-Save">Save</button>
												<!-- <button type="submit" class="btn btn-Save">Save</button> -->
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<app-social></app-social>
<app-footer></app-footer>