<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
    <app-search></app-search>

    <!-- all product -->
    <div class="pro_slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_pro_sub">
                        <h2 class="mainPageHead">All Products <a routerLink="/product" class="viewAllBtn">View
                                All <i class="fa fa-arrow-circle-right"></i></a></h2>

                    </div>
                </div>
                <div class="col-md-12" *ngIf="!allProductsData">
                    <p class="center-align"></p>
                    <p class="center-align">Products not available in the list</p>
                </div>
                <div class="col-md-12">
                    <div class="row" *ngIf="allProductsData">

                        <div *ngFor="let product of allProductsData;let idx=index;" class="slide  col-sm-6  col-xl-3">
                            <div class="pro_d1" *ngIf="idx<4">
                                <div class="discountLabel" *ngIf="product.discounted">
                                    <span>OFFER</span>
                                </div>
                                <div class="col-md-12" *ngIf="product.images?.length == 1">

                                    <div class="productImgOuter lg-img-size"><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                </div>

                                <div class="row no-gutters image-group" *ngIf="product.images?.length > 1">
                                    <div class="col-md-8">
                                        <div class="productImgOuter lg-img-size"><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-12" *ngFor="let productImages of product.images;index as i;">
                                                <div *ngIf="i!=0 && i<3" class="productImgOuter sm-size-img"><img src="{{productImages}}" alt="" title="" class="fiexd_size_img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pro_text_div proBoxNewDesign ">
                                    <!-- <div class="pro_div_heading mb-0"> - {{product.category.name}}</div> -->
                                    {{product.name}}
                                    <div class="pro_div_heading"> <span><i class="fa fa-inr" aria-hidden="true"></i>
                                            {{product.totalPrice}}
                                            <span *ngIf="product.mrp && (product.mrp > product.totalPrice)"
                                                style="text-decoration: line-through;">
                                                ₹{{product.mrp}}</span>
                                        </span>
                                    </div>
                                    <div class="btnGropup">
                                        <a routerLink="/sub-products/{{product.productId}}" class="btn btn-pink ">View
                                            Details</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- all product -->
    <div class="pro_slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_pro_sub">
                        <h2 class="mainPageHead">Featured Items <a routerLink="/featured-items" class="viewAllBtn">View
								All <i class="fa fa-arrow-circle-right"></i></a></h2>

                    </div>
                </div>
                <div class="col-md-12" *ngIf="!products">
                    <p class="center-align"></p>
                    <p class="center-align">Featured Items not available in the list</p>
                </div>
                <div class="col-md-12">
                    <div class="row" *ngIf="products">

                        <div *ngFor="let product of products;let idx=index;" class="slide  col-sm-6  col-xl-3">
                            <div class="pro_d1" *ngIf="idx<4">
                                <div class="discountLabel" *ngIf="product.discounted">
                                    <span>OFFER</span>
                                </div>
                                <span class="top-rightLabel group-rightLabel">
									<img src="assets/images/feature-label.png">
								</span>

                                <div class="col-md-12" *ngIf="product.images?.length == 1">

                                    <div class="productImgOuter lg-img-size"><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                </div>

                                <div class="row no-gutters image-group" *ngIf="product.images?.length > 1">
                                    <div class="col-md-8">
                                        <div class="productImgOuter lg-img-size"><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-12" *ngFor="let productImages of product.images;index as i;">
                                                <div *ngIf="i!=0 && i<3" class="productImgOuter sm-size-img"><img src="{{productImages}}" alt="" title="" class="fiexd_size_img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pro_text_div proBoxNewDesign ">
                                    <!-- <div class="pro_div_heading mb-0"> - {{product.category.name}}</div> -->
                                    {{product.name}}
                                    <div class="pro_div_heading"> <span><i class="fa fa-inr" aria-hidden="true"></i>
											{{product.totalPrice}}
											<span *ngIf="product.mrp && (product.mrp > product.totalPrice)"
												style="text-decoration: line-through;">
												₹{{product.mrp}}</span>
                                        </span>
                                    </div>
                                    <div class="btnGropup">
                                        <a routerLink="/productdetails/{{product.productId}}" class="btn btn-pink ">View
											Details</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="heading_pro_sub">
                    <h2 class="mainPageHead">Shop By Categories <a routerLink="/categories" class="viewAllBtn">View All
							<i class="fa fa-arrow-circle-right"></i></a></h2>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div *ngFor="let category of categoryList;let idy=index;" class="slide   col-sm-6  col-xl-3">
                        <div class="pro_d1 posRel" *ngIf="idy<4">
                            <span class="top-rightLabel"> </span>
                            <div class="btnGropup seeCatBthPos">
                                <a routerLink="/product/{{category.categoryId}}" class="btn btn-pink ">View Products</a>

                            </div>
                            <div class="productImgOuter">
                                <img src="{{category.image}}" alt="" title="" class="fiexd_size_img">
                            </div>
                            <div class="pro_text_div">
                                {{category.name}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pro_slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_pro_sub">
                        <h2 class="mainPageHead">Trending Products <a routerLink="/trending-products" class="viewAllBtn">View All <i class="fa fa-arrow-circle-right"></i></a></h2>

                    </div>
                </div>
                <div class="col-md-12" *ngIf="!trendingproduct">
                    <p class="center-align">Trending Products not available in the list</p>
                </div>
                <div class="col-md-12" *ngIf="trendingproduct">
                    <div class="row">
                        <div *ngFor="let trending of trendingproduct;let idy=index; index as i;" class="slide  col-sm-6  col-xl-3">
                            <div class="pro_d1" *ngIf="idy<4">

                                <span class="top-rightLabel" *ngIf="trendingproduct[i]['favorite'] == true">
									<img (click)="myfavouriteItems(trending.productId,0,i)" title="Mark as a favourite"
										src="assets/images/heart-fill.png">
								</span>

                                <span class="top-rightLabel" *ngIf="trendingproduct[i]['favorite'] == false">
									<img (click)="myfavouriteItems(trending.productId,1,i)" title="Mark as a favourite"
										src="assets/images/heart-icon.png">
								</span>


                                <div class="col-md-12" *ngIf="trending.images?.length == 1">

                                    <div class="productImgOuter lg-img-size"><img src="{{trending.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                </div>

                                <div class="row no-gutters image-group" *ngIf="trending.images?.length > 1">
                                    <div class="col-md-8">
                                        <div class="productImgOuter lg-img-size"><img src="{{trending.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-12" *ngFor="let trendingImages of trending.images;let idy=index; index as i;">
                                                <div *ngIf="idy>1 && idy<4" class="productImgOuter sm-size-img"><img src="{{trendingImages}}" alt="" title="" class="fiexd_size_img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pro_text_div proBoxNewDesign">
                                    <!-- <div class="pro_div_heading"> - {{trending.category.name}}</div> -->
                                    {{trending.name}}
                                    <div class="pro_div_heading">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>
											{{trending.totalPrice}}
											<span *ngIf="trending.mrp && (trending.mrp > trending.totalPrice)"
												style="text-decoration: line-through;">
												₹{{trending.mrp}}</span>

                                        </span>
                                    </div>
                                    <div class="btnGropup">
                                        <a routerLink="/productdetails/{{trending.productId}}" class="btn btn-pink ">View Details</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>