<header class="fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" routerLink="/index"><img src="assets/images/logo.png" alt="logo"></a>
                    <div class="navi_custom">
                        <div class="sign_section_box" *ngIf="isLoggedIn == 'false'">
                            <a routerLink="/login">Login</a> |
                            <a routerLink="/register">SignUp</a>
                        </div>
                        <div class="sign_section_box" *ngIf="isLoggedIn == 'true'">
                            <a routerLink="/profile">My Account </a>|
                            <a href="javascript:void(0);" (click)="logout()">Logout</a>
                        </div>
                        <div class="headersearchCartArea">
                            <ul>
                                <li>
                                    <form [formGroup]="searchProductForm" (ngSubmit)="onSubmit()">
                                        <div class="serch_bar_box">
                                            <input type="text" formControlName="search" class="form-control" placeholder="Search from more than 1 Lac Products...">
                                            <span class="serch_btns">
											<button class=""><i class="fa fa-search" aria-hidden="true"></i></button>
											</span>
                                        </div>
                                    </form>
                                </li>
                                <li>
                                    <div class="go_to_btn">
                                        <a (click)="userPurchaseType(1)" href="javascript:void(0)" *ngIf="purchaseType == 2">Go To Singles Store</a>
                                        <a (click)="userPurchaseType(2)" href="javascript:void(0)" *ngIf="purchaseType == 1">Go To Wholesale Store</a>
                                        <!-- <a routerLink="/singlestore/1" *ngIf="purchaseType == 2">Go To Singles Store</a>
                                        <a routerLink="/wholesale/2" *ngIf="purchaseType == 1">Go To Wholesale Store</a> -->
                                    </div>
                                </li>
                                <li>
                                    <div class="favoriteIcon">
                                        <a routerLink="/favourite-products"><img src="../../assets/images/heart-icon.png"></a>
                                        <span class="fevrCount">{{favouriteCount}}</span>
                                    </div>
                                </li>
                                <li>
                                    <app-cart-popup></app-cart-popup>
                                </li>
                            </ul>
                        </div>

                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>

<div class="navbar topScndMenu navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>
    <span class="search_btns">
	<a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
		<i class="fa fa-search" aria-hidden="true"></i>
	</a>
</span>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/index"> <i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/categories"> <i class="fa fa-shopping-bag"></i> Shop </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contact"> <i class="fa fa-phone"></i> Contact Us</a>
            </li>
        </ul>
    </div>
</div>