<footer class="mt-4">
    <div class="row">
        <div class="col-lg-2 col-md-3 ">

            <a href="#">
                <img src="assets/images/logo.png">
            </a>

            <div class="contNumber">
                <a href="tel:141 - 4049163"><i class="fa fa-phone" aria-hidden="true"></i> (+91) 141 - 4049163</a>
                <a href="tel:141 - 4049163"><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 - 8696491521</a>
            </div>

        </div>
        <div class="col-lg-5 col-md-6 ">
            <h3>Footer Links</h3>
            <ul class="footerMenu">
                <li> <a routerLink="/vendor">Vendor Registration </a> </li>
                <li> <a routerLink="/about">About Us </a> </li>
                <li> <a routerLink="/return-policy">Returns and Cancellation Policy</a> </li>
                <li> <a routerLink="/contact">Contact Us </a> </li>
                <!-- <li> <a routerLink="/career">Career </a> </li> -->
                <li> <a routerLink="/deliveryinfo">Delivery Information</a> </li>
                <!-- <li> <a routerLink="/deliveryinfo">Storelocator</a> </li> -->
                <li> <a routerLink="/privacy-policy">Privacy Policy</a> </li>
                <li> <a routerLink="/login">Sign in / Sign up</a> </li>
                <li> <a routerLink="/terms-conditions">Terms & Conditions</a> </li>

            </ul>
            <h3>Secure Payment</h3>
            <ul>
                <li> <img src="assets/images/payment-getway.png" class="img-fluid"> </li>
            </ul>
        </div>

        <div class="col-md-12 col-lg-5 ">
            <!-- <h3>Scan QR code to get the link</h3> -->
            <h3>Get App using below links</h3>
            <p></p>
            <ul class="scanSectionFooter">
                <!-- <li>
                    <a href="javascript:void(0)"> <img src="../../assets/images/qr-code.png"> </a>
                </li> -->
                <li>
                    <a href="https://apps.apple.com/ao/app/vopers/id1450483425" target="_blank"> <img src="../../assets/images/app-store.png"> </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.fashmela&hl=en" target="_blank"><img src="../../assets/images/play-store.png"></a>
                </li>
            </ul>

            <h3 class="mt-4">Let’s connect and be friends!</h3>
            <ul class="socialIcon footerSocianNew">
                <li><a target="_blank" href="https://www.facebook.com/vopers.jaipur"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a target="_blank" href="https://twitter.com/VopersV"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a target="_blank" href="https://plus.google.com/u/1/117873078237613680732"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a target="_blank" href="https://www.linkedin.com/onboarding/start/people-you-may-know/new/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
            </ul>


        </div>
    </div>

</footer>
<div class="copy_right">&copy; 2019 Vopers. All Rights Reserved <span>(V1.1)</span></div>
<!-- <div *ngIf="this.userId">
    <app-chat></app-chat>
</div> -->