.inenr-promo-code input {
    width: 100%;
    border: solid #ccc 1px;
    height: 38px;
    padding: 0 10px;
}

.code-box .promoCode {
    background-color: #f33380;
    color: #fff;
    padding: 5px 25px;
    border-radius: 30px;
    text-align: center;
    margin: 5px;
}

.code-box {
    text-align: center;
    margin: 7px 0;
}

ul.priceDetail.priceDetail li>a.promoCode {
    display: inline-block;
    text-align: center;
    padding: 0 0 10px;
    color: #f33380;
    border-radius: 30px;
    font-weight: 500;
}

ul.priceDetail.priceDetail li {
    text-align: center;
}

.promo-cose-applay .promo-box-div {
    float: left;
}

.promo-cose-applay .promo-box-div>i {
    font-size: 24px;
    text-align: center;
    color: #ff3366;
}

.promo-cose-applay .promo-divs-main {
    float: left;
    text-align: left;
    margin: 0 10px;
    font-size: 13px;
    color: #999;
    line-height: 20px;
}

.promo-cose-applay .promocode-name {
    color: #f33380;
    font-size: 16px;
    font-weight: 500;
}

.promo-cose-applay .remove-btn {
    float: right;
}

.promo-cose-applay .remove-btn>a.remove-btn>i {
    font-size: 22px;
    color: #000;
}

a.disabled {
    background: gray;
    cursor: not-allowed;
}