<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
	<section class="cartOuter">
	<div class="container">
		<div class="accDetailTOp">
		<h3>Account</h3>
		</div>
		<div class="row">
		<div class="col-lg-3 col-md-4">
			<app-profile-sidebar></app-profile-sidebar>
		</div>
		<div class="col-lg-9 col-md-8">
			<div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner">
				<h2>Primary Information </h2>
				<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
				<div class="order_box">
				<div class="row">
					<div class="col-md-12 col-lg-3">
					<div class="user_profile">
						<img *ngIf="imgFlag && profileDataEdit" src="{{profileDataEdit.profileImage}}" class="img-fluid" alt="" title="">
						<img *ngIf="noImgFlag" src="assets/images/no-image.jpg" class="img-fluid" alt="" title="">
						<img *ngIf="base64ImgFlag" src="{{base64textString}}" class="img-fluid" alt="" title="">
						<div class="change_user_id" *ngIf="base64ImgFlag || noImgFlag || imgFlag || profileDataEdit">
							<input id="profileImage" name="profileImage" type="file" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg, .pdf"/>
							<label for="profileImage">Change Picture</label>
						</div>
					</div>
					</div>
					<div class="col-md-12 col-lg-9">
					<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
						<input type="hidden"  maxlength="50" formControlName="userId" name="userId" />
						<div class="form-row">
						<div class="form-group col-md-12">
							<div class="form_tag_div">
							<label for="inputEmail4">Name <span class="req">*</span></label>
							<input type="text"  maxlength="50" formControlName="firstName" name="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
							<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
								<div *ngIf="f.firstName.errors.required">Name field is required</div>
								<div *ngIf="f.firstName.errors.pattern">White space not allowed</div>
							</div>
							</div>
						</div>

						</div>
						<div class="form-row">
						<div class="form-group col-md-12 col-lg-6">
							<div class="form_tag_div">
							<label for="inputAddress">Email <span class="req">*</span></label>
							<input readonly type="text"  maxlength="50" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
							<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
								<div *ngIf="f.email.errors.required">Email field is required</div>
								<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
							</div>
							</div>
						</div>

						<div class="form-group col-md-12 col-lg-6">
							<div class="form_tag_div">
							<label for="inputAddress">Mobile Number <span class="req">*</span></label>
							<input type="text" (keypress)="onKey($event)" minlength=10 maxlength=10 formControlName="phoneNumber" onPaste="return false" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"/>
							<div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
								<div *ngIf="f.phoneNumber.errors.required">Mobile Number field is required</div>
								<div *ngIf="f.phoneNumber.errors.min">Mobile Number must be 10 characters</div>
								<div *ngIf="f.phoneNumber.errors.max">Mobile Number must be 10 characters</div>
								<div *ngIf="f.phoneNumber.errors.pattern">White space not allowed</div>
							</div>
							</div>
						</div>
						</div>

						<div class="form-row">
						<div class="form-group col-md-12">
							<div class="form_tag_div">
							<label for="inputEmail4">Address <span class="req">*</span></label>
							<input type="text"  maxlength="150" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
							<div *ngIf="submitted && f.address.errors" class="invalid-feedback">
								<div *ngIf="f.address.errors.required">Address field is required</div>
								<div *ngIf="f.address.errors.pattern">White space not allowed</div>
							</div>
							</div>
						</div>
						</div>
						<div class="btn_order_div">
						<a routerLink="/profile" class="btn btn-Cancel">Cancel</a>
						<button class="btn btn-Save">Save</button>
						<!-- <button type="submit" class="btn btn-Save">Save</button> -->
						</div>
					</form>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
	</section>
</div>
<app-social></app-social>
<app-footer></app-footer>