<app-header></app-header>

<div class="pro_slide">
    <div class="container-fluid">
      <div class="row">

      <div class="col-md-12">
        <div class="heading_pro_sub mt-7">
        <h2>Trending Products</h2>
        <!-- <div class="text-right viewAllBtnOuter" ><a routerLink="/featured-items" class="viewAllBtn" >View All <i class="fa fa-arrow-circle-right" ></i></a> </div>
        </div> -->
      </div>
      <div class="col-sm-12">
          <ul class="shortingOuter">
              <li class="sortBy">Sort By:</li>
              <!-- <li class=""><a href="javascript:void(0);" data-value="sort_order&amp;order=ASC">Hand-picked</a></li>
              <li class="active"><a href="javascript:void(0);"  data-value="p.date_added&amp;order=DESC">Latest Designs</a></li> -->
              <li [ngClass]="{'active': sortType == '2'}"><a href="javascript:void(0);" (click)="myFilterFunction(2)" data-value="p.selling_price&amp;order=ASC">Price - (Low To High)</a></li>
              <li [ngClass]="{'active': sortType == '3'}"><a href="javascript:void(0);" (click)="myFilterFunction(3)" data-value="p.selling_price&amp;order=DESC">Price - (High To Low)</a></li>
              <li [ngClass]="{'active': sortType == '4'}"><a href="javascript:void(0);" (click)="myFilterFunction(4)"
                  data-value="p.selling_price&amp;order=DESC">Discount</a></li>
              <!-- <li class="fliter-select">
                <label class="filter-lable">Discount</label>
                <select (change)="onChangeEvent($event,1)" class="form-control" id="discount">
                  <option value="1">10%</option>
                  <option value="2">20%</option>
                  <option value="3">30%</option>
                  <option value="4">40%</option>
                  <option value="5">50%</option>
                  <option value="6">60%</option>
                  <option value="7">70%</option>
                  <option value="8">80%</option>
                  <option value="9">90%</option>
                  <option value="10">100%</option>
                </select>
              </li> -->
              <li class="fliter-select">
              <!--   <a href="javascript:void(0);" data-value="p.special_price&amp;order=DESC"></a> -->
                <label class="filter-lable"> Size</label>
                <select (change)="onChangeEvent($event,2)" class="form-control" id="size">
                  <option *ngFor="let size of sizes" value="{{size.sizeId}}">{{size.sizeTitle}}</option>
                </select>
              </li>
              <li class="">
                <div class="slider-range">
                <p>Price Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</p>

                <p-slider (click)="handleChange()" [(ngModel)]="rangeValues" [style]="{'width':'14em'}" [range]="true"></p-slider>
              </div>
              </li>
            </ul>
      </div>
      <div class="col-md-12" *ngIf="!trendingproduct">
        <p class="center-align"></p>
        <p class="center-align">Trending products not available in the list</p>
      </div>
      <div class="col-md-12" >
        <div class="row" *ngIf="trendingproduct">

            <div *ngFor="let trending of trendingproduct | paginate: { itemsPerPage: 4, currentPage: p }; index as i;" class="slide  col-sm-6  col-xl-3">
                <div class="pro_d1">
                 <!-- {{trending.favorite}} -->
                    <!-- *ngIf="trending.is_featured" -->
                  <span class="top-rightLabel" *ngIf="trending['favorite'] == true ">
                      <img (click)="myfavouriteProducts(trending.productId,0,i)" title="Mark as a favourite" src="assets/images/heart-fill.png">
                  </span>
                  <span class="top-rightLabel"  *ngIf="trending['favorite'] == false ">
                      <img (click)="myfavouriteProducts(trending.productId,1,i)" title="Mark as a favourite" src="assets/images/heart-icon.png">
                  </span>
                  <div class="productImgOuter" ><img src="{{trending.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                  <div class="pro_text_div proBoxNewDesign">
                      <div class="pro_div_heading"> - {{trending.category.name}}</div>
                  {{trending.name}}
                  <div class="pro_div_heading">
                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                    {{trending.totalPrice}}
                      <span *ngIf="trending.mrp && (trending.mrp > trending.totalPrice)" style="text-decoration: line-through;">
                        ₹{{trending.mrp}}</span>
                     <!--  <span *ngIf="trending.mrp && (trending.mrp > trending.totalPrice)"> ({{
                        (((trending.mrp-trending.totalPrice)/trending.mrp)*100)
                        | number: '1.0-0' }}% OFF)
                      </span> -->
                  </span>
                  </div>
                  <div class="btnGropup">
                    <a routerLink="/productdetails/{{trending.productId}}" class="btn btn-pink ">View Details</a>
                    <!-- <a href="#" class="btn btn-white pull-right">Add to Cart</a> -->
                  </div>
                  </div>
                </div>
                </div>


        </div>
         <div class="row" >
            <div class="col-md-12 text-center mt-4 mb-4" >
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>

      </div>
      </div>
    </div>
    </div>

<!-- <app-social></app-social> -->
<app-footer></app-footer>