<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Return Order </h2>
              <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message}}</div>
              <div class="order_box">
                <div class="row">
                  <div class="col-md-12">
                    <form [formGroup]="returnRequestForm" (ngSubmit)="onSubmit()">
                      <!-- <input type="hidden" maxlength="50" formControlName="userId" name="userId" />
                      <input type="hidden" maxlength="50" formControlName="businessProfileId" name="businessProfileId" value="{{orderId}}"/> -->
                      <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="form_tag_div">
                         <label for="inputEmail4">Please select a reason for refund<span class="req">*</span></label>
                            
                            <select name="reason"  (change)="changeShape($event.target)" class="form-control" [ngClass]="{ 'is-invalid': submitted }">
                                <option *ngFor="let key of reasonResponse" [value]="key.reasonId">{{ key.returnReason }}</option>
                             </select> 

                            <!-- <div *ngIf="submitted && f.reason.errors" class="invalid-feedback">
                              <div *ngIf="f.reason.errors.required">Please select any one reason</div>
                            </div>  -->
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                         <div class="form_tag_div">
                            <label for="inputEmail4">Tell us more</label>
                             <input type="text" maxlength="100" formControlName="tellUsMore" name="tellUsMore"
                              class="form-control" [ngClass]="{ 'is-invalid': submitted  }" /> 
                            <!-- <div *ngIf="submitted && f.tellUsMore.errors" class="invalid-feedback">
                              <div *ngIf="f.tellUsMore.errors.required">Tell us more Name field is required</div>
                              <div *ngIf="f.tellUsMore.errors.pattern">White space not allowed</div>
                            </div>  -->
                          </div>
                        </div>
                      </div>
                      
                      <input type='file' id="onSelectFileEve" class="hideInputBrow" (change)="onSelectFile($event)">
                      <div class="btn_order_div text-left"><label for="onSelectFileEve"  class="btn btn-Save" > Select Image </label></div>
                      <div class="selectImagesOUter" ><img *ngFor='let url of urls'  [src]="url" ></div>
                      
                      <div class="btn_order_div">
                        <a routerLink="/order-details/{{orderId}}" class="btn btn-Cancel">Back</a>
                        <button class="btn btn-Save">Submit</button>
                        <!-- <button type="submit" class="btn btn-Save">Save</button> -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>