<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="chatbox-holder">
    <div class="chatbox chatbox-min">
        <div class="chatbox-top">
            <div class="chatbox-avatar">
                <a href="javascript:void(0);"><img src="assets/images/chat-icon.png" /></a>
            </div>
            <div class="chat-partner-name">
                <span class="status online"></span>
                <a href="javascript:void(0);">Vopers Support</a>
            </div>
            <div class="chatbox-icons">
                <a href="javascript:void(0);"><i class="fa fa-minus"></i></a>
                <!-- <a href="javascript:void(0);"><i class="fa fa-close"></i></a>   -->
            </div>
        </div>

        <div class="chat-messages" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="chat">

            <div class="message-box-holder" *ngFor="let chatmsg of chat">
                <div class="message-box" *ngIf="!chatmsg.isImage && chatmsg.sender.userId == this.userId">
                    {{chatmsg.message}}

                </div>
                <div class="message-inner-img" *ngIf="chatmsg.isImage && chatmsg.sender.userId == this.userId">
                    <img title="Mark as a favourite" src="{{chatmsg.message}}">
                </div>
                <!-- </div>

      <div class="message-box-holder" *ngFor="let chatmsg of chat"> -->
                <div class="message-sender" *ngIf="!chatmsg.isImage && chatmsg.receiver.userId != 1">
                    Admin
                </div>
                <div class="message-box message-inner-img  message-partner" *ngIf="!chatmsg.isImage && chatmsg.receiver.userId != 1">
                    {{chatmsg.message}}
                </div>
                <div class="message-admin-img  message-partner-admin" *ngIf="chatmsg.isImage && chatmsg.receiver.userId != 1">
                    <img title="Mark as a favourite" src="{{chatmsg.message}}">
                </div>
            </div>

        </div>

        <div class="chat-input-holder">
            <div class="image-upload" id="image-upload">
                <label for="file"> <i class="fa fa-paperclip" ></i></label>
                <input type="file" id="file" name="file" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg, .pdf">
            </div>

            <!-- <img [src]="imgURL" height="200"> -->

            <textarea class="chat-input" placeholder="Type a message" [(ngModel)]="msgtextarea" id="msgInput"></textarea>
            <!-- <input type="hidden" value="0" (input)="Isimage=$event.target.value" class="text-type-msg" /> -->
            <button class="message-send" (click)="submit()" data-dir="dwn">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </button>
        </div>
        <!-- <input type="file" id="file" name="file" (input)="uploadImage=$event.target.value" accept=".png, .jpg, .jpeg, .pdf"> -->
        <div class="attachment-panel">

            <!-- <div class="image-upload" id="image-upload">

          <label for="file"> <i class="fa fa-paperclip" ></i></label>
          <input type="file" id="file" name="file" (change)="uploadFile($event.target.files)" multiple>

      </div> -->

            <!-- <a href="#" class="fa fa-thumbs-up"></a>
      <a href="#" class="fa fa-camera"></a>
      <a href="#" class="fa fa-video-camera"></a>
      <a href="#" class="fa fa-image"></a>

      <a href="#" class="fa fa-link"></a>
      <a href="#" class="fa fa-trash-o"></a>
      <a href="#" class="fa fa-search"></a> -->
        </div>
    </div>
</div>