<p>
    resetpassword-mobile works!
</p>
<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
    <section class="cartOuter">
        <div class="container">
            <div class="login_page_set">
                <div class="custom_pop">
                    <div class="modal_title_login">Reset Password</div>
                    <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode != 200 }">
                        {{message.message}}</div>
                    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.required">confirm password is required</div>
                            </div>
                            <div *ngIf="confirmPassNotValid">Passwords do not match</div>
                        </div>
                        <button class="btn btn-custom">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<app-social></app-social>
<app-footer></app-footer>