<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp heading_page_top">
		<h3>Contact Us </h3>
	  </div>
	  <div class="row">
		<div class="col-lg-4 col-md-5">
		  <div class="priceDetailBox lefttorightBox jQueryEqualHeight contus_page_text">
			<h3>PHONE NUmber</h3>
			<div class="contNumber">
				<span>Resllers Query contact:- </span>
				<a href="tel:07014178564"><i class="fa fa-phone" aria-hidden="true"></i> +91 7014178564</a>
				<p> </p>
				<span>Wholesalers Query contact:- </span>
			  <a href="tel:09602913158"><i class="fa fa-phone" aria-hidden="true"></i> +91 9602913158</a>
			</div>
			<h3 class="margin_top_20">Eamil</h3>
			<div class="contNumber">
				<span>Resllers Query Email:- </span>
			  <a href="mailto:vopers.resellersquery@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
				vopers.resellersquery@gmail.com</a>
				<p> </p>
				<span>Wholesalers Query Email:- </span>
			  <a href="mailto:vopers.wholesalersquery@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
				vopers.wholesalersquery@gmail.com</a>
			</div>
			<h3 class="margin_top_20">Store Address</h3>
			<div class="contNumber cont_address">
			  <i class="fa fa-map-marker" aria-hidden="true"></i>
				<span>
					48, Cosmo Colony, Behind Easy Day,<br> Amrapali Circle, <br>Vaishali Nagar Jaipur, <br>Rajasthan </span>
			</div><br>
			<h3 class="margin_top_20">Operating hours:</h3>
				<span>
				Monday - Saturday: 11am - 9:30pm <br>Sunday & Public Holiday: Closed</span>
		  </div>
		</div>
		<div class="col-lg-8 col-md-7">
		  <div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner">
				<h2>Get in Touch </h2>
				<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
			  <div class="order_box">
				<div class="row">
				  <div class="col-md-12 col-lg-12">
					<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
					  <div class="form-row">
						<div class="form-group col-md-12">
						  <div class="form_tag_div">
							<label for="name">Name <span class="req">*</span></label>
							<input type="text" maxlength="50" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
							<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
								<div *ngIf="f.name.errors.required">Name field is required</div>
								<div *ngIf="f.name.errors.pattern">White space not allowed</div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="form-row">
						<div class="form-group col-md-12 col-lg-6">
						  <div class="form_tag_div">
							<label for="email">Email <span class="req">*</span></label>
							<input type="text" maxlength="50" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
							<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
								<div *ngIf="f.email.errors.required">Email field is required</div>
								<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
							</div>
						  </div>
						</div>
						<div class="form-group col-md-12 col-lg-6">
						<div class="form_tag_div">
							<label for="subject">Subject <span class="req">*</span></label>
							<input type="text" maxlength="50" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
							<div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
								<div *ngIf="f.subject.errors.required">Subject field is required</div>
								<div *ngIf="f.subject.errors.pattern">White space not allowed</div>
							</div>
						</div>
						</div>
					  </div>
					  <div class="form-row">
						<div class="form-group col-md-12">
						<div class="form_tag_div">
							<label for="message">Message <span class="req">*</span></label>
							<input type="text" maxlength="50" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" />
							<div *ngIf="submitted && f.message.errors" class="invalid-feedback">
								<div *ngIf="f.message.errors.required">Message field is required</div>
								<div *ngIf="f.message.errors.pattern">White space not allowed</div>
							</div>
						</div>
						</div>
					  </div>
					  <div class="btn_order_div">
						<button class="btn btn-custom">Send</button>
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>