<app-header></app-header>
<ngx-spinner>
	<p style="font-size: 20px; color: white">asdasdasd</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp">
		<h3>Account</h3>
	  </div>
	  <div class="row">
		<div class="col-lg-3 col-md-4">
		  <app-profile-sidebar></app-profile-sidebar>
		</div>
		<div class="col-lg-9 col-md-8">
		  <div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner wallet-box">
			  <h2>Vopers Wallet</h2>
			  <div class="wallet_box">
				<div class="wallet_heading"><img src="assets/images/refer-icon.png"></div>
				</div>
				<h6>Invite your friends and family to become vopers reseller and earn and commission each sale they make.</h6>
			  <div class="wallet_prices">YOUR REFERRAL CODE</div>
			  <div class="wallet_price_Sections">
				<span>
					<!-- {{userProfile|json}} -->
          {{userProfile}}
				</span>
			
				</div>
				<div class="wallet_prices">Share your code via</div>



				<ul class="social-network">
					<li><a href="javascript:void(0);" (click)="facebookshare()" data-value="p.selling_price&amp;order=DESC"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a data-size="Default" (click)="twitterShare()" href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="whatsapp://send?text=The text to share!" (click)="whatsApp()" data-action="share/whatsapp/share"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
					<li><a href="javascript:void(0)" (click)="shareOnPinterest()"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
				</ul>
			
				<!-- <a href="javascript:void(0);" (click)="facebookshare()" data-value="p.selling_price&amp;order=DESC">Facebook</a>
				<a class="twitter-share-button" data-size="Default" (click)="twitterShare()" href="javascript:void(0);">Tweet</a> -->
				<!-- <a class="sharelink whatsapp"  (click)="whatsappShare()" data-action="share/whatsapp/share" data-text="you can add title or any text here" whats-app="">
				<i class="fa fa-whatsapp "></i> WHATSAPP
				</a> -->
				<!-- <a href="whatsapp://send?text=The text to share!" (click)="whatsApp()" data-action="share/whatsapp/share"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Facebook" width="50" /></a>
				<a href="javascript:void(0)" (click)="shareOnPinterest()"><img src="https://s.pinimg.com/webapp/style/images/logo_180-f06edffd.png"
				alt="Pinterest" width="50" /></a> -->
				<!-- <a href="http://www.pinterest.com/pin/create/button/?url={url}&amp;media={image}&amp;description={title}
				">Pinterest</a> -->
				<!-- <a href="whatsapp://send?text=http://niralar.com" data-action="share/whatsapp/share">Share via Whatsapp</a> -->
			<!-- <a routerLink="/wallet-history" class="add_many_btn">View Transaction</a> -->
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>
