@charset "utf-8";
/* CSS Document */
@media only screen and (min-width : 1200px) and (max-width : 1400px){
    .slick-prev.slick-arrow { left: -30px; z-index: 1;  }
.slick-next.slick-arrow {right: -30px;  z-index: 1;}
.img_size_fiexd2 {height: 600px;}
.scanSectionFooter img { max-width: 160px !important; }
.scanSectionFooter li:first-child img { max-width: 70px !important; }
}
@media only screen and (max-width : 1200px){
    .scanSectionFooter img { max-width: 130px !important; }
    .scanSectionFooter li:first-child img { max-width: 50px !important; }
}

@media (max-width: 1024px) {




}

/* iPads (landscape) and (portrait) both ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px){


}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

    .go_to_btn > a { font-size: 18px; }
    .slick-prev.slick-arrow {left: -15px;z-index: 1; }
    .slick-next.slick-arrow {right: -15px; z-index: 1;    }
    .btn.btn-white, .btn.btn-pink {font-size: 16px;}
    .pro_div_texts .p_div_text { width: 75%;  font-size: 17px;  left: 5%;  }
    .gary_bg { padding: 20px 0;    }
    .pro_slide {  margin: 30px 0;  }
    .heading_pro_sub > h2 { font-size: 38px;    }
    .heading_pro_sub > h2::after {height: 4px; left: 46%;  width: 8%; bottom: -3px; }
    .socialSec { padding: 20px 0; }
    .socialSec h2 { font-size: 26px;margin: 0 0 20px 0;    }
    .socialIcon li a {width: 45px; height: 45px; border-radius: 50%; line-height: 50px;  }
    .order_box .form-group .form_tag_div > label {top: -10px; left: 15px; font-size: 16px; }
    .order_box .form-group .form-control { border-radius: 20px;font-size: 20px; padding: 10px 20px; height: 60px; }
    .order_box .form-group .form_tag_div { margin-bottom: 20px; }
    .order_box .user_profile .change_user_id {left: 12%; }
    .order_box .user_profile .change_user_id label {font-size: 13px; padding: 7px 7px;}
    .fiexd_size_img {height: 470px; min-width: 100%;}
    .img_size_fiexd2 {height: 460px;}
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .img_size_fiexd2 {height: 400px;}
    .go_to_btn > a {font-size: 18px; }
    .serch_bar_box .serch_btns { bottom: 10px;   }
    .serch_bar_box .form-control {   min-height: 46px;   font-size: 17px;  }
    .gary_bg { padding: 20px 0;  }
    .pro_slide { margin: 20px 0;  }
    .heading_pro_sub > h2 { font-size: 32px;  }
    .heading_pro_sub > h2::after {  height: 4px;  }
    .pro_div_texts .p_div_text { font-size: 17px;  }
    .pro_div_texts .p_div_text > span {font-size: 25px;  line-height: 25px;  margin-bottom: 10px; }
    .socialSec { padding: 20px 0;  }
    .socialSec h2 {  font-size: 24px;  margin: 0 0 20px 0;  }
    .socialIcon li a { width: 45px;  height: 45px;  line-height: 50px; }
    .slick-prev.slick-arrow { left: -10px; bottom: 50%; z-index: 1;  }
    .slick-slider .slick-arrow {  padding: 10px 16px;  border-radius: 50%;  }
    .slick-next.slick-arrow {   right: -10px;   bottom: 50%;  z-index: 1;  }
    .pro_d1 .pro_text_div { font-size: 20px;  padding: 15px 10px 10px; line-height: 22px; }
    .pro_d1 .pro_text_div .pro_div_heading { font-size: 12px;    }
    .pro_d1 .pro_text_div .pro_div_heading > span { font-size: 16px;    }
    .btn.btn-pink,  .btn.btn-white {  padding: 5px 7px; font-size: 14px;}
    header .navi_custom{display: block; width: 100%;text-align: right;}
    header .navi_custom .sign_section_box { display: inline-block; margin: 0 20px 0 0;}
    .order_box {  padding: 0 5px; }
    .order_box .user_profile .change_user_id {bottom: 9px; left: 2%;}
    .order_box .user_profile .change_user_id label { font-size: 12px; padding: 7px 16px; border-radius: 20px; }
    .order_box .form-group .form_tag_div > label { font-size: 17px;  }
    .order_box .form-group .form-control { border-radius: 20px; color: #a8a8a8; font-size: 17px; padding: 15px 20px;height: 55px; }
    .order_box .form-group .form_tag_div { margin-bottom: 15px;}
    .btn_order_div .btn-Cancel, .btn_order_div .btn-Save {min-width: 100px;}
    .order_box .user_profile {margin: 0 0 40px; }
    .chekc_btn_cart > .checkOutBtn {padding: 6px 24px;}
    .login_page_set {width: 80%;margin: 100px auto; padding: 50px;}
    .top_header_space {margin: 65px 0 0 0;}
    .serch_bar.shrink {top: 77px;}
    .fiexd_size_img {height: 330px;min-width: 100%;}
}





/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {


}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {



}


/* Mobile versions ----------- */
@media (max-width: 767px) {
    .login_page_set {
        width: 100%;
        margin: 20px auto !important;
        padding: 20px;
    }

    header .navi_custom .sign_section_box {
        display: inline-block;
        margin: 0 8px 0 0;
    }

    .order_box .user_profile {
        position: relative;
        margin: 0 auto 40px;
    }

    .order_box .user_profile img {
        border: solid #000000 1px;
        border-radius: 10px;
        margin: 0 auto;
        display: table;
    }

    .order_box .user_profile .change_user_id {
        position: inherit;
        bottom: 20px;
        left: 0;
        margin: -30px auto 0px;
        display: table;
    }

    .order_box .user_profile .change_user_id label {
        font-size: 16px;
        padding: 7px 16px;
        border-radius: 20px;
    }

    .btn_order_div .btn-Cancel {
        min-width: 100px;
    }
    .btn_order_div .btn-Save {
        min-width: 100px;
        margin: 0 0 0 10px;
    }
    .btn_order_div {
        text-align: center;
    }

    header .cart_section {
        margin: 4px 0 0 10px !important;
    }
    .headersearchCartArea ul li .go_to_btn a {
        padding: 9px 9px 10px !important;
    }
}


@media screen and (max-width: 480px) {

    .cart_section .dropdown-menu {  width: 280px;  }
    .cart_section .order_cart_section .order_pro_div1 > img {width: 60px; height: 60px;}
    .cart_section .order_cart_section .order_pro_div1 .order_list_heading1 { font-size: 14px;  margin: 0 0 0 5px; width: 61%;}
    .cart_section .order_cart_section .order_list_heading1 .order_prices_divs {font-size: 14px;margin: 2px 0 0 0;    }
    .cart_section .order_cart_section .order_pro_div1 .close_btn_div {right: 6px; top: -5px;}
  header .navi_custom {
    display: inline-block;
    width: 100%;
    margin: -40px 40px 0 0;
    float: right;
    text-align: right;
}
    header .navbar-brand {text-align: center;float: left;margin: 0;}
    header .cart_section {margin: 0 0 0 20px;position: absolute;top: 12px;right: 5px;}
    .navbar-brand img{width:90px;}
    header .cart_section {margin: 0 0 0 20px; position: absolute; top: 20px; right: -10px;}
    .navbar-toggler { padding: 1px 7px !important; margin: 0 6px 0 0;}
    .top_header_space .slde {margin: 80px 0 0 0 !important;}
    .slde {border-bottom: solid #ff3366 3px;}
    .serch_bar_mobiles .serch_bar.collapse{display: none;}
    .serch_bar_mobiles .serch_bar.collapse.show{display: block;}
    .search_btns {display: inline-block;}
.serch_bar_mobiles {position: absolute;top:128px;z-index: 99;}
.search_btns > a{color:#333333;  border: solid rgba(0,0,0,.1) 1px; padding: 9px 15px; border-radius: 5px;color: #000;}
.serch_bar.shrink, .serch_bar {position: fixed;top: 75px;width: 100%; z-index: 999;}
.fiexd_size_img {height: 420px;min-width: 100%;}
.pro_slide {margin: 20px 0;}
.socialSec h2 {font-size: 21px;margin: 0 0 10px 0;}
.socialIcon li a {width: 45px;height: 45px;line-height: 50px;}
.socialSec {padding: 20px 0 5px;}
.gallery .previews, .gallery .full, .gallery .desc { width: 100%; }
.gallery .previews a { display: inline-block; }
.gallery .desc, .gallery .full { width: 100%; }
.navbar { padding: .5rem 0rem !important; }
.navbar-toggler { padding: .20rem .50rem;}
.img_size_fiexd2 {height: 310px;}
footer li a { font-size: 14px !important;}
.socialSec h2 { font-size: 24px !important; color: #fff; margin: 0 0 20px 0;}
.socialIcon li a { width: 50px !important;  height: 50px !important;  line-height: 55px !important;}
.cartInner h2 { font-size: 15px !important; }
.serch_bar_box[_ngcontent-c15] .serch_btns[_ngcontent-c15] > button[_ngcontent-c15] > i[_ngcontent-c15] {
    font-size: 16px !important;
}
.innerPageSearchBar + .top_header_space {
    margin: 120px 0 0 0;
}
}

@media (min-width: 481px) and (max-width: 767px) {
.slde {border-bottom: solid #ff3366 3px;}
.top_header_space {margin: 80px 0 0 0;}
    .serch_bar_mobiles .serch_bar.collapse{display: none;}
    .serch_bar_mobiles .serch_bar.collapse.show{display: block;}
    .search_btns {display: inline-block;}
.serch_bar_mobiles {position: absolute;top:128px;z-index: 9999;}
.search_btns > a{color:#333333;  border: solid rgba(0,0,0,.1) 1px; padding: 9px 15px; border-radius: 5px;color: #000;}
.serch_bar.shrink, .serch_bar {position: fixed;top: 78px;width: 100%; z-index: 999;}
.innerPageSearchBar .serch_bar.shrink, .innerPageSearchBar .serch_bar {position: fixed;top: 95px;width: 100%; z-index: 999;}

.serch_bar_box .form-control {border-radius: 20px;padding: 4px 20px;min-height: 42px;font-size: 14px;}
.mobile_size_width1 {width: 65%;float: left;}
.mobile_size_width2 {float: right;width: 34%; padding: 0 9px 0 0;}
.serch_bar_box .serch_btns > a > i {font-size: 20px;}
.go_to_btn > a {border-radius: 20px;font-size: 15px;padding: 6px 8px;margin: 4px 0;}
.pro_d1 .pro_text_div {font-size: 18px;	padding: 20px 7px 10px;	line-height: 24px;}
.pro_d1 .pro_text_div .pro_div_heading {font-size: 12px;}
.pro_d1 .pro_text_div .pro_div_heading > span {	font-size: 16px;}
.innerPageSearchBar + .top_header_space { margin: 148px 0 0 0 !important; }


.fiexd_size_img {height: 320px;min-width: 100%;}
.gary_bg {padding: 20px 0;}
.pro_slide {margin: 20px 0;}
.socialSec h2 {	font-size: 24px; margin:0 0 10px 0; }
.socialSec {padding: 20px 0 5px;}
.socialIcon li a {width: 45px;height: 45px;line-height: 50px;}
.img_size_fiexd2 {height: 350px;}
}

@media (min-width: 481px) and (max-width: 991px) {
    header .navi_custom {margin:-40px 50px 10px 0}
    header .cart_section {
        position: absolute;
        top: 15px;
        right: 0px;
    }
    header .navbar > a{padding: 0;}
    header .navbar-brand img{width: 110px;}


}

@media screen and (max-width:991px) {
	.cartDetail { width: 100%; float: left; padding-left: 0px; padding-top: 5px; }
	.qtySelect { margin-bottom: 10px; }
	.priceDetailBox { margin-top: 10px; }
    .custom_pop .modal-body {padding: 0 20px;}
    .pricePink { margin-bottom: 0px; }

    .navbar-nav { text-align: left; margin: 10px 0 0 0; }
    header .navbar-light .navi_custom .navbar-nav .nav-link {
        padding: 3px 5px;
        border-bottom: solid #f3f3f3 1px; font-size: 18px;
    }
	header .cart_section > a {
		padding: 0px 5px;
		background-position: 50% 14px;
		background-size: 40px;
	}
	header .cart_section > a > span {
		font-size: 12px;
	}

	.serch_bar_box .form-control {
    padding-right: 40px !important;
    min-height: 35px !important;
    font-size: 13px !important;
}
.innerPageSearchBar .serch_bar_box .form-control {
    min-height: 42px !important;
}
.serch_bar_box[_ngcontent-c8] .serch_btns[_ngcontent-c8] > button[_ngcontent-c8] > i[_ngcontent-c8] {
    font-size: 15px !important;
}
.go_to_btn > a { font-size: 14px !important; }
	.heading_pro_sub > h2 {font-size: 28px !important;}

	.slick-next.slick-arrow {
		right: -10px;
	}
	.slick-prev.slick-arrow {
		left: -10px;
	}
	.slick-slider .slick-arrow {
		padding: 8px 15px;
		z-index: 999;
	}
	.slick-slider .slick-arrow img { width: 10px; }
	.btn.btn-white, .btn.btn-pink {
		padding: 5px 6px;
		font-size: 12px;
	}
	.pro_text_div h2 {
		font-size: 16px;
    }


}

