header  {-webkit-box-shadow: 0px -3px 10px -2px #000000;box-shadow: 0px -3px 10px -2px #000000; z-index: 1;position: relative; background-color: #ffffff;}
body{font-family: 'Roboto', sans-serif;}
header .navi_custom .sign_section_box{display:block;}
header .navi_custom {display: block;width: 100%;text-align: right;}
header .cart_section > a{ background:#ff3366 url(../images/cart.png); border-radius:50%; padding:16px 20px; background-repeat:no-repeat; background-position:50% 19px; -webkit-box-shadow: 0 0 5px 2px #D7D7D7;
box-shadow: 0 0 5px 2px #D7D7D7; text-decoration:none; display: inline-block;}
header .cart_section > a > span {font-size: 18px;font-weight: bold;color: #FFF;position: relative;bottom: 2px;	letter-spacing: -1px;left: 2px;}
header .cart_section {margin: 0 0 0 20px;}
header .cart_section > a.dropdown-toggle::after {display: none;}

@font-face{font-family:'Arista-Pro-Alternate-Regular-trial';src:url(../fonts/Arista-Pro-Alternate-Regular-trial.eot);src:url(../fonts/Arista-Pro-Alternate-Regular-trial.eot?#iefix) format('embedded-opentype'),url(../fonts/Arista-Pro-Alternate-Regular-trial.woff2) format('woff2'),url(../fonts/Arista-Pro-Alternate-Regular-trial.woff) format('woff'),url(../fonts/Arista-Pro-Alternate-Regular-trial.ttf) format('truetype');font-weight:400;font-style:normal}
header .navi_custom .sign_section_box > a { font-family: 'Arista-Pro-Alternate-Regular-trial'; color:#767676; font-size:18px; text-decoration:none;}
header .navi_custom .sign_section_box > a:hover {color:#ff3366;}
header .navbar-light .navi_custom .navbar-nav .nav-link{color:#282828; font-size:22px; font-family: 'Arista-Pro-Alternate-Regular-trial' !important; padding:3px 15px;}
header .navbar-light .navi_custom .navbar-nav .nav-item:last-child .nav-link  {padding-right:0;}
header .navbar-light .navi_custom .navbar-nav .nav-link:hover{color:#ff3366;}

a, button {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
.serch_bar{background-color:#ff3366; padding:7px 0; }
.serch_bar.shrink { position: fixed; top: 98px; width: 100%; z-index: 999; }
.serch_bar_box {position:relative;}
.serch_bar_box .form-control {
	border-radius: 35px;
	background-color: #FFF; border:none;
	padding: 8px 20px;
	min-height: 50px; color:#c4c4c4; font-size:17px;
}
.serch_bar_box .serch_btns {
	position: absolute;
	right: 20px;
	bottom: 12px;
}
.serch_bar_box  .serch_btns  > a > i{color:#000000; font-size:28px;}
.serch_bar_box  .serch_btns  > a > i:hover{color:#ff3366;}
.go_to_btn > a{border-radius:35px; border:solid #fff 2px; color:#fff; font-size:20px; padding:5px 20px; text-align:center; text-decoration:none; margin:4px 0; display:inline-block; width:100%;}
.go_to_btn > a:hover{background-color:#fff; color:#ff3366;}
.heading_pro_sub > h2{font-size:48px; color:#000000;font-family: 'Arista-Pro-Alternate-Regular-trial'; text-align:center; position:relative; padding:10px;}
.heading_pro_sub > h2::after {
	background-color: #F36;
	border-radius: 2px;
	content: "";
	position: absolute;
	height: 6px;
	left: 46%;
	width: 8%;
	bottom: 0px;
}
.pro_slide{margin:50px 0;}
.gary_bg{background-color:#f1f1f1; padding:50px 0;}
.pro_div_texts{position:relative;}
.pro_div_texts .p_div_text {
	background-color: #FFF;
	padding:10px 15px;
	position: absolute; text-align:center;
	width: 65%;
	margin: 0px auto; font-size:18px; color:#757575;
	bottom: 30px;
	left: 15%;
}
.pro_div_texts .p_div_text > span{font-size:26px; display:block; color:#000000}
.margin_bottom_20{margin-bottom:40px;}
.pro_div_texts figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}


/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

.slick-slider .slick-arrow {
	background-color: #F36;
	padding: 18px 25px;
	border-radius: 50%;
	text-align: center;
	border: none;
}

.slick-prev.slick-arrow {
	position: absolute;
	left: -100px;
	bottom: 50%;
}

.slick-next.slick-arrow {
	position: absolute;
	right:-100px;
	bottom: 50%;
}
.slick-slide {
	padding:15px;
}
.slick-slide img { max-width:100%; }
.pro_d1{position: relative;
	border-radius: 15px;
	border: 1px solid #666;
	overflow: hidden; box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.8);}
.pro_d1 .pro_text_div{font-size:24px; color:#fff; position:absolute; bottom:0;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 42%, rgba(0,0,0,0.71) 71%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.42) 42%,rgba(0,0,0,0.71) 71%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.42) 42%,rgba(0,0,0,0.71) 71%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b5000000',GradientType=0 ); padding:20px 15px 10px; line-height:30px;}
.pro_d1 .pro_text_div .pro_div_heading {
	font-size: 16px;
	color: #FFF;
	margin: 0px 0px 10px 0;
	line-height: 28px;
}.pro_d1 .pro_text_div .pro_div_heading > span{font-size:20px; color:#ff0040; float:right; font-weight: bold; }
.btn.btn-pink { background: #ff3366; color: #fff; padding: 5px 15px; font-size: 18px; border-radius: 0px; }
.btn.btn-pink:hover { background: #fff; color: #ff3366; }
.btn.btn-white { background: #ffffff; color: #ff3366; padding: 5px 15px; font-size: 18px; border-radius: 0px; }
.btn.btn-white:hover { background: #ff3366; color: #fff; }
.pro_text_div h2 { font-size: 24px; margin-bottom: 0px; }
.btnGropup { margin-bottom: 10px; display: none; }
.slick-slide:hover .btnGropup { display: inline-block; width: 100%;  }
.socialSec { background: #ff3366; display: inline-block; width: 100%; text-align: center; padding: 50px 0; }
.socialSec h2 { font-size: 32px; color: #fff; margin: 0 0 30px 0;  }

.socialIcon { padding: 0px; margin-top: 20px; }
.socialIcon li { display: inline-block; }
.socialIcon li a { background: #fff; width: 55px; height: 55px; display: inline-block; border-radius: 50%; line-height: 60px; margin: 0 5px; color: #ff3366;}
.socialIcon li a i { font-size: 22px;  }
.socialIcon li a:hover { background: #d21c4a; color: #fff; }
.top-rightLabel { position: absolute; top: 0px; right: 0px; }

footer { padding: 20px 30px;  }
.contNumber a { width: 100%; display: inline-block; color: #000; font-size: 16px; }
footer ul { padding: 0px; }
footer h3 { font-size: 22px; color: #ff3366; }
footer li { display: inline-block; color:#000; }
footer li a{ color:#000; font-size: 16px; padding-right: 10px; }
.copy_right{background-color: #ececec; color:#565656;font-size: 14px; text-align: center; padding:20px; }
.custom_pop .modal-dialog { width: 650px; max-width: 96%; }
.custom_pop .modal-body { padding:0 50px; }
.custom_pop .modal-content { border-radius: 20px; }
.custom_pop .modal-header{border: none; text-align: center;}
.custom_pop .modal-header h5.modal-title{font-size: 40px; color:#000000 }
.custom_pop .form-group .form-control {
	border: solid #000 1px;
	border-radius: 13px;
	color: #a8a8a8;
	font-size: 16px;
	padding: 15px 20px;
	height: 55px;
}
.custom_pop .form-group .form_tag_div{position: relative; margin-bottom: 15px;}
.custom_pop .form-group .form_tag_div > label {
	position: absolute;
    top: -13px;
    left: 12px;
    color: #000000;
    font-size: 18px;
    background-color: #fff;
    min-width: auto;
    padding: 0 15px 0 7px;
}
.custom_pop .form-group .form_forgot_text{text-align: right;}
.custom_pop .form-group .form_forgot_text > a{color: #ff3366; font-size: 18px; text-align: right;}
.btn-custom { background-color:#ff3366; font-size:20px; border-radius:13px; width:100%; display: block; padding: 12px 20px; color: #fff; margin: 15px 0 20px; }
.tag_line_form {
	text-align: center;
	font-size: 18px;
	color: #000000;
	margin: 15px 0;
	display: inline-block;
	width: 100%;
}
.btn-custom:hover { background-color:#000; }
.tag_line_form > a{color:#ff3366; text-decoration: underline;}
.modal_title_login{font-size: 32px; color: #000000; text-align: center; width: 100%; margin: 15px 0 20px; }


/** for Cart Page **/
.accDetailTOp { border-bottom: 1px solid #e3e3e3; width: 100%; display: inline-block; margin-bottom: 20px; }
.accDetailTOp h3 { font-size: 20px; color: #4f4f4f; margin-bottom: 5px; }
.accDetailTOp p { font-size: 14px; color: #868686; margin-bottom: 5px; }

.cartOuter { margin: 30px 0; }
.shadowWhiteBox { background: #fff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2); padding: 15px; display: inline-block; width: 100%; border-radius: 8px; min-height: 100%; margin-bottom: 15px; }
.cartInner h2 { font-size: 18px; border-bottom: 1px solid #e3e3e3; font-weight: 400; padding-bottom: 15px; margin-bottom: 15px; }
.cartBox { border: 1px solid #c9c9c9; border-radius: 15px; padding: 5px; display: inline-block; width: 100%; position: relative; margin-bottom: 10px; }
.cartDisImg { width: 110px; height: 140px; overflow: hidden; float: left; border-radius: 10px; }
.cartDisImg img { width: 110px; height: 140px; }
.cartDetail { width: calc(100% - 110px); float: left; padding-left: 15px; }
.cartDetail h3 { font-size: 18px; padding-right: 40px; }
.cartDetail p { font-size: 14px; color: #787878; margin-bottom: 10px; }
.qtySelect { position: relative; float: left; margin-right: 20px; }
.qtySelect select { position: relative; background: url(../images/select-arrow.png) right center no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none; -ms-appearance: none; border: none; border-bottom: 1px solid #999; padding-right: 15px; padding-left: 32px; padding-bottom: 5px; }
.qtySelect::before { position: absolute; content: "Qty :"; left: 0px; top: 0px; font-size: 16px; color: #000; }

.custom-radios { float: left; }
.custom-radios div { display: inline-block; }
.custom-radios input[type="radio"], .custom-radios input[type="checkbox"] { display: none; }
.custom-radios input[type="radio"] + label { color: #333; font-family: Arial, sans-serif; font-size: 14px; cursor: pointer; }
.custom-radios input[type="radio"] + label span {display: inline-block; width: 30px; height: 30px; margin: -1px 1px 0 0; vertical-align: middle; cursor: pointer; border-radius: 5px; background-repeat: no-repeat; background-position: center; text-align: center; line-height: 30px; background: #cccccc; color: #565656; font-weight: 600; }
.custom-radios input[type="radio"]:checked + label span {opacity: 1; background: #f33380; width: 30px; height: 30px; display: inline-block; color: #fff; }

.custom-radios input[type="checkbox"] + label span {display: inline-block; cursor: pointer; width: 30px; height: 30px; margin: -1px 1px 0 0; vertical-align: middle; cursor: pointer; border-radius: 5px; background-repeat: no-repeat; background-position: center; text-align: center; line-height: 30px; background: #cccccc; color: #565656; font-weight: 600; }
.custom-radios input[type="checkbox"]:checked + label span {opacity: 1; background: #f33380 url(../images/checmark.png) no-repeat; width: 30px; height: 30px; display: inline-block; color: #fff; }

.custom-radios input.circleRadio[type="radio"] + label { font-size: 18px; margin-right: 15px; }
.custom-radios input.circleRadio[type="radio"] + label span {display: inline-block; width: 30px; height: 30px; margin: -1px 1px 0 0; vertical-align: middle;
	cursor: pointer; border-radius: 50px; background-repeat: no-repeat; background-position: center; border: 2px solid #f33380; text-align: center; line-height: 30px; background: #fff; color: #565656; font-weight: 600; }
.custom-radios input.circleRadio[type="radio"]:checked + label span {opacity: 1; background: #f33380 url(../images/checmark.png) no-repeat; background-size: 100% 100%; border: 2px solid #f33380;  width: 30px; height: 30px; display: inline-block; color: #fff; }

.pricePink { font-size: 22px; color: #ff0040; display: inline-block; width: 100%; }
.deleteItem  { position: absolute; width: 35px; height: 35px; line-height: 35px; font-size: 20px; background: #fff; border-radius: 50%; text-align: center; right: 5px; box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.4); color: #afafaf; }
.deleteItem:hover  { background: #ff0040; color: #fff; }
.priceDetailBox { display: inline-block; padding: 10px; width: 100%; border-radius: 8px; min-height: 100%;
	background: #ffffff;
background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 100%);
background: -webkit-linear-gradient(left, #ffffff 0%,#f3f3f3 100%);
background: linear-gradient(to right, #ffffff 0%,#f3f3f3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=1 );
}
.priceDetailBox.lefttorightBox { background: #ffffff;
background: -moz-linear-gradient(left, #f3f3f3 0%, #ffffff 100%);
background: -webkit-linear-gradient(left, #f3f3f3 0%,#ffffff 100%);
background: linear-gradient(to right, #f3f3f3 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=1 );
}
.priceDetailBox h3 { font-size: 17px; text-transform: uppercase; color: #000; }
.priceDetail { padding: 5px 0; border-bottom: 1px solid #ddd; margin: 0px 0 10px 0 ; }
.priceDetail li { display: inline-block; width: 100%; font-weight: 400; font-size: 14px; color: #414141; padding: 2px 0; }
.priceDetail li span { float: left;  }
.priceDetail li span + span { float: right; }
.pinkColor { color: #ff0040; }
.TotalPriRow { padding: 0px; border:none; }
.checkOutBtn { width: 100%; border-radius: 20px; color: #fff; padding: 8px 0; background: #f33380; display: inline-block; text-align: center; }
.checkOutBtn:hover {  background: #000; color: #fff; text-decoration: none }

.shoppingContinue { border-radius: 20px; color: #fff; padding: 8px 30px; background: #000; text-align: center; float: right; }
.shoppingContinue:hover {  background: #f33380; color: #fff; text-decoration: none }

.orderlinks {
	padding: 5px 0;
	margin: 0px 0 30px 0;
}

.orderlinks li {
	display: inline-block;
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	color: #414141;
	padding: 2px 0;
}

.orderlinks li a{font-size: 17px; color:#414141; text-decoration: none;}
.orderlinks li a:hover{color:#f33380}
.orderlinks li a.active-links{color:#f33380}
.order_box .user_profile img{border: solid #000000 1px; border-radius: 10px;}
.order_box .user_profile {position: relative;}
.change_user_id input { visibility: hidden; }
.order_box .user_profile .change_user_id {position: absolute;bottom: 10px;left: 7%;}
.order_box .user_profile .change_user_id  label{background-color: rgba(255, 255, 255, .8);font-size: 16px; color:#000000; text-decoration: navajowhite;
padding: 7px 16px;border-radius: 20px; border: none;cursor: pointer;}
.order_box .form-group .form-control{border: solid #000 1px;
	border-radius: 13px;
	color: #a8a8a8;
	font-size: 16px;
	padding: 15px 20px;
	height: 55px;}
	.order_box .form-group .form_tag_div {
		position: relative;
		margin-bottom: 15px;
	}

	.order_box .form-group .form_tag_div > label {
		position: absolute;
		top: -15px;
		left: 15px;
		color: #000000;
		font-size: 18px;
		background-color: #fff;
		min-width: 120px;
		padding: 0 7px;
	}
.order_box {
		margin: 30px 0 0 0;
		padding: 0 0px;
	}
	.order_box .form-group .form-control.heignt-auto{height: auto;}
.btn_order_div .btn-Cancel{background-color:#d8d8d8; font-size:17px; color:#000000 ; border-radius: 30px; padding: 5px 20px;min-width: 120px;}
.btn_order_div .btn-Save{background-color:#f33380; font-size:17px; color:#ffffff; border-radius: 30px ; padding: 5px 20px;min-width: 120px; margin: 0 0 0 20px;}
.btn_order_div {text-align: right;}
.btn_order_div .btn-Cancel:hover, .btn_order_div .btn-Save:hover{background-color:#000000; color: #ffffff}
.order_box .profile_tag_name {font-size: 16px;color: #282828;margin: 0 0 15px;}
.btn-pink-edit > a{background-color:#f33380; font-size: 15px; border-radius: 20px; color: #ffffff; text-decoration: none; padding: 10px 30px; }
.btn-pink-edit{margin: 20px 0 0 0;}
.btn-pink-edit > a:hover{background-color: #000000;}

.prod_sections .prod_deatils ul {
	margin: 10px 15px;
	padding: 0px;
}

.prod_sections .prod_deatils ul li {
	list-style: square;
	color: #ff3366;
	margin: 0 0 4px 0;
}

.prod_sections .prod_deatils ul li > span {
	color: #565656;
	font-size: 14px;
	line-height: 24px;
}
.prod_sections .prod_deatils > h2{color: #0d0d0d; font-size: 26px; margin: 0px; padding: 0px}
.prod_sections .prod_deatils > h4{color: #565656; font-size: 17px;}
.prod_sections .prod_deatils > span{color: #ff3366; font-size: 14px; margin: 10px 0;display: inline-block;}
.prod_sections{margin: 30px 0;}
.size_divs{margin: 20px 0;}
.size_divs .price_texts_div, .size_divs .prodcuts_size{color:#565656;font-size: 14px;display: block;margin: 0 0 10px;}
.sku_details .sku_li_tags > span{font-size: 13px; color: #000000;}
.sku_details .sku_li_tags {font-size: 13px; color: #575757;}
.products_btsn .input-group.number-spinner {
	background-color: #414141;
	border-radius: 30px;
	width: 120px;
}
.products_btsn .form-control {
	width: 20px;
	height: 28px;
	margin: 3px 0;
}
.products_btsn .btn.btn-add-less{background-color:transparent; border: none; color: #ffffff;}
.pro_cart_btns {
	display: inline-block;
	width: 100%;
	margin: 0 0 10px;
}
.pro_cart_btns .products_btsn {
	float: left;
}
.pro_cart_btns .chekc_btn_cart {
	float: left; margin: 0 0 0 20px;
}
.chekc_btn_cart > .checkOutBtn {padding: 6px 30px;}



.gallery .previews, .gallery .full, .gallery .desc {
	float: left;
	margin-right: 10px;
	width: 100px;
}
.gallery .previews > a > img {
	width: 100%; border-radius: 10px;
}
.gallery .desc, .gallery .full {
	width: calc(100% - 120px);
	font-size: 12px;
}
.gallery .desc h2 {
margin-top: 0;
}
.gallery .previews a {
display: block;
margin-bottom: 10px;
}
.gallery .full, .gallery .full img {
text-align: center;
}
.gallery .previews a, .gallery .full {
border: 2px solid #eee;
border-radius: 10px;
}
.gallery .previews a:hover, .gallery .previews a.selected {
border: 2px solid #ff3366;
}
.gallery .full img:hover {
cursor: pointer;
}
.clearfix:after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

.gallery .full img {
	width: 100%;
	border-radius: 10px;
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}
.form-control.heignt-auto {
	height: auto !important;
}
.wallet_box .wallet_heading span {
	font-size: 36px;
	color: #ff3366;
	display: inline-block;
	margin: 0 20px;
}
.wallet_heading {
	text-align: center;
	margin: 30px 0;
}
.wallet_prices{font-size: 20px; color: #959595; text-align: center;}
.wallet_price_Sections{text-align: center;}
.wallet_price_Sections  span > i{font-size: 30px; color:#c7c7c7}
.wallet_price_Sections span{font-size: 36px; color:#c7c7c7 }
.wallet_notes ul {
	margin: 15px;
	padding: 0px;
}
.wallet_notes ul li {list-style: square;color: #ff3366;	margin: 0 0 4px 0;}
.wallet_notes ul li > span {color: #565656;font-size: 14px;	line-height: 24px;}
.wallet_notes {
	background-color: #f5f5f5;
	padding: 0px 20px;
	display: inline-block;
	width: 100%;
	margin: 30px 0 0;
}
a.add_many_btn {border-radius: 20px;color: #fff;padding: 8px 20px;background: #f33380;display: table;text-align: center;margin: 30px auto 10px;font-size: 17px;	text-decoration: none;}
a.add_many_btn:hover {background: #000000;}
.cart_section .dropdown-menu{right: 0; left: inherit; width: 390px; -webkit-box-shadow: 0px 3px 5px -1px #a8a8a8;
	box-shadow:0px 3px 5px -1px #a8a8a8}
.cart_section .order_cart_div .order_heading_div{font-size: 20px; color: #000000; text-align: left; border-bottom: solid #e6e6e6 1px; padding: 10px;}
.cart_section .order_cart_div {padding: 0 5px;}
.cart_section .order_cart_section .order_pro_div1 > img{float: left; width: 80px; height: 90px; border: solid #e6e6e6 1px; padding: 5px;}

.cart_section .order_cart_section .order_pro_div1 .order_list_heading1 {
	float: left; width: 70%;
	font-size: 16px;
	margin: 0 0 0 10px;
}
.cart_section .order_cart_section .order_list_heading1 .order_prices_divs {
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0 0 0;
}
.cart_section .order_cart_section .order_pro_div1 .order_list_heading1 span{font-size: 13px;display: block; color:#f33380 }
.cart_section .order_cart_section .order_pro_div1 {	margin: 10px 5px 0px 5px;position: relative;display: inline-block;width: 100%;border-bottom: solid #e6e6e6 1px;	padding: 0 0 10px 0;}
.cart_section .order_cart_section .order_pro_div1 .close_btn_div{position: absolute;right: 4px;top: 0px;}
.cart_section .order_cart_section .order_pro_div1 .close_btn_div > a {color: #8f8f8f;background-color: #dedede;border-radius: 50%;height: 26px;	width: 26px;display: block;	text-align: center;}
.cart_section .order_cart_section .order_pro_div1 .close_btn_div > a:hover {background-color: #000000; color: #ffffff;}
.cart_section .order_cart_section {	max-height: 230px;}
.cart_section .order_cart_div .order_pricesections {text-align: center;font-size: 18px;padding: 10px 0;}
.cart_section .order_cart_div .order_pricesections .check_out_btns > a:hover{background-color: #000000; color: #ffffff;}
.cart_section .order_cart_div .order_pricesections .check_out_btns > a {color: #ffffff;font-size: 18px;background-color: #f33380;border-radius: 15px;text-align: center;padding: 6px 40px;text-decoration: none;}
.cart_section .order_cart_div .order_pricesections .check_out_btns {margin: 16px 0 0;}
.cart_section .order_cart_div .order_pricesections > span {font-size: 20px;}
.cart_section .order_cart_div .order_pricesections > span > i{font-size: 16px;}
.login_page_set {width: 50%;margin: 60px auto; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2); padding: 10px 30px;border-radius: 20px;}

.top_header_space {margin: 98px 0 0 0;display: inline-block;width: 100%}
.prod_custom_slide .slick-prev.slick-arrow, .prod_custom_slide .slick-next.slick-arrow{display: none !important;}
.prod_custom_slide .pro_d1 {border-radius: 0;border: none;overflow: hidden;	box-shadow: none;}
.prod_custom_slide  .slick-slide {padding: 0;}
.serch_bar_mobiles .serch_bar.collapse{display: block;}
.search_btns {display: none;}
.serch_bar.collapse.show{display: block;}
.fiexd_size_img {height: 450px; min-width: 100%;}
.img_size_fiexd2 {height: 530px;min-width: 100%;}
.terms_conf_text p {
	font-size: 15px;
	color: #565656;
	line-height: 30px;
	font-weight: 400;
	text-align: justify;
}
.terms_conf_text h4 {
	font-size: 17px;
	font-weight: 200;
	margin: 10px 0 20px;
}

.terms_ul_text ul {
	margin: 15px;
	padding: 0px;
}
.terms_ul_text ul li {
	list-style: square;
	color: #ff3366;
	margin: 0 0 4px 0;
}
.terms_ul_text ul li > span {
	color: #565656;
	font-size: 14px;
	line-height: 24px;
}
.list_decimal_ul ul{margin: 15px;
	padding: 0px;}

.list_decimal_ul ul li {
		color: #565656;
		font-size: 14px;
		line-height: 24px;
		margin: 0 0 10px 0;
		text-align: justify;
	}
	.list_decimal_ul ul li ol{margin:10px 0; padding: 0 10px; }
	.list_decimal_ul ul li ol li{margin: 0  5px; }
	.heading_page_top.accDetailTOp {border-bottom: none;}
	.heading_page_top.accDetailTOp h3 {font-size: 24px;}
	.priceDetailBox h3.margin_top_20 {margin-top: 20px;	}
	.contus_page_text .contNumber a > i, .contus_page_text  .contNumber > i{color: #f54773}
	.contNumber.cont_address {	position: relative;	}
	.contus_page_text .contNumber > i {position: absolute;top: 3px;	left: 0;}
	.cont_address span {padding: 0 0 0 20px;display: inline-block;}
	.about-secitons .about-texts > p{font-size: 15px; text-align: justify; line-height: 28px; color: #212529; font-weight: 400;}
	.about-secitons .about-texts > h4{font-size: 17px; color: #212529; font-weight: 700; margin: 10px 0; padding: 0;}
	.about-img-div{max-width: 100%; padding: 3px; border: solid #ececec 1px;}
	.submit_texts {display: inline-block;width: 100%;margin: 0 0 50px;}

	.pro_d1 { margin-bottom: 15px; }
	.pro_d1:hover .btnGropup { display: block; }

	.dropdown-header { padding: 8px 15px; color: #f36; }
	.dropdown-menu li a {
		display: block;
		padding: 5px 15px;
		margin-bottom: 0;
		font-size: .875rem;
		color: #555;
		white-space: nowrap;
	}
	.dropdown-menu li a:hover { color: #000; text-decoration: none; }
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
		min-width: 200px;
		box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.3);
		border: none;
	}

