<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}} ...</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp">
		<h3>Account</h3>
	  </div>
	  <div class="row">
		<div class="col-lg-9 col-md-8">
		  <div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner">
			  <h2>My Shopping Bag ({{cartDataCount}} Item) <span class="pull-right">Total: Rs. {{finaMrpValue}}</span></h2>
			  <div class="center-align" *ngIf="emptyMessage">
						{{emptyMessage}}
				</div>
				<!-- {{cartData|json}} -->
			  <div class="cartBox" *ngFor="let cart of cartData">
				<div *ngIf="cart.product">
				<a href="javascript:void(0)" (click)="deleteCartProduct(cart.productCartId)" class="deleteItem">
				  <i class="fa fa-trash-o" aria-hidden="true"></i>
				</a>
				<div class="cartDisImg ul-inner-imgcard">
				  <img src="{{cart.product.images[0]}}">
				</div>
				<div class="cartDetail">

				  <h3><a routerLink="/productdetails/{{cart.product.productId}}">{{cart.product.name}}</a></h3>
					<div class="pro_cart_btns">
					  <div class="products_btsn">
						<div class="input-group number-spinner">
						  <span class="input-group-btn data-dwn">
							<button class="btn btn-add-less" (click)="qtyDecr(cart)" data-dir="dwn"><i class="fa fa-minus" aria-hidden="true"></i>
							</button>
						  </span>
						  <input readonly type="text" class="form-control text-center" value="{{cart.quantity}}" min="1" max="40">
						  <span class="input-group-btn data-up">
							<button class="btn btn-add-less" (click)="qtyIncr(cart)" data-dir="up"><i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						  </span>
						</div>
					  </div>
					</div>
				  <div class="pro_cart_btns">

						<b>Purchase Type: </b>
						<span *ngIf="cart.product.purchaseType == 1">
							Single
						</span>
						<span *ngIf="cart.product.purchaseType == 2">
							Size Set
						</span>
						<span *ngIf="cart.parentProduct">
								Color Set {{cart.parentProduct.subProducts[0].purchaseType}}
						</span>
					</div>

				  <div class="custom-radios">
					<b>Size: </b>
					<div *ngFor="let size of cart.product.sizeList">
						<div>
							<input type="radio" checked="checked">
							<label for="color-1">
								<span>
									{{size.sizeTitle}}
								</span>
							</label>
						</div>

					  <!-- <label for="color-{{size.sizeId}}">
						<span>
						  {{size.sizeTitle}}
						</span>
						<span>   </span>
					  </label> -->
					</div>
				  </div>
				  <label class="pricePink">
				 <!-- ₹{{cart.product.totalPrice+'|'+cart.itemDiscount+'|'+cart.quantity}}  -->
				 <!-- ₹{{ (cart.product.totalPrice - cart.itemDiscount) * cart.quantity}} -->
						₹{{ (cart.cartItemTotalPrice - cart.itemDiscount) }}

						<span *ngIf="cart.itemDiscount" style="text-decoration: line-through;">
							₹{{cart.product.totalPrice * cart.quantity}}</span>

						<span *ngIf="cart.itemDiscount">({{perCalculate(cart.cartItemTotalPrice, cart.itemDiscount)| number: '1.0-0' }}% OFF)</span>

				  </label>
				</div>
			</div>

			<div *ngIf="!cart.product">
				<a href="javascript:void(0)" (click)="deleteCartProduct(cart.productCartId)" class="deleteItem">
				  <i class="fa fa-trash-o" aria-hidden="true"></i>
				</a>
				<div class="cartDisImg ul-inner-imgcard">
				  <img src="{{cart.parentProduct.displayImage}}">
				</div>
				<div class="cartDetail margin-top-10">

				  <h3><a routerLink="/product/{{cart.parentProduct.productId}}">{{cart.parentProduct.name}}</a></h3>
					<div class="pro_cart_btns">
					  <div class="products_btsn">
						<div class="input-group number-spinner">
						  <span class="input-group-btn data-dwn">
							<button class="btn btn-add-less" (click)="qtyDecr(cart)" data-dir="dwn"><i class="fa fa-minus" aria-hidden="true"></i>
							</button>
						  </span>
						  <input readonly type="text" class="form-control text-center" value="{{cart.quantity}}" min="1" max="40">
						  <span class="input-group-btn data-up">
							<button class="btn btn-add-less" (click)="qtyIncr(cart)" data-dir="up"><i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						  </span>
						</div>
					  </div>
					</div>
				  <div class="pro_cart_btns">
						<b>Purchase Type: </b>
						<span>
							Color Set
						</span>

					</div>
				  <div class="custom-radios">
					<b>Size: </b>
					<div *ngFor="let size of cart.parentProduct.subProducts[0].sizeList">
						<div>
							<input type="radio" checked="checked">
							<label for="color-1">
								<span>
									{{size.sizeTitle}}
								</span>
							</label>
						</div>
					</div>
				</div>
						<!-- <li *ngFor="let product of availableColors;index as i" class="slide">

								<div class="colorSetImg"   [ngClass]="{'active-item': htmlOptions.visible == i}">
										<a href="javascript:void(0)" (click)="colorSetImages(i); htmlOptions.visible = i">
											<img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img">
										</a>
								</div>
						</li> -->

						<div  >

							  <div *ngFor="let multipleimgs of cart.parentProduct.subProducts" class="inner-product-list">
									<!-- {{img|json}} -->
																		<ul >
										<li *ngFor="let img of multipleimgs.images" class="inner-ullist-img">
												<img src="{{img}}" alt="" title="">
										</li>
									</ul>

								</div>
				  <label class="pricePink">
							<!-- ₹	{{multipleimgs.totalPrice}} -->
							<!-- {{cart.parentProduct|json}}  * cart.quantity-->
						<span *ngIf="!cart.parentProduct">₹{{ (cart.parentProduct.totalPrice - cart.itemDiscount) * cart.quantity}}</span>
						<span *ngIf="cart.parentProduct">₹{{ (cart.parentProduct.totalPrice * cart.quantity) - cart.itemDiscount }}</span>
						<span *ngIf="cart.itemDiscount" style="text-decoration: line-through;">
							₹{{cart.parentProduct.totalPrice * cart.quantity}}</span>
							<span *ngIf="!cart.parentProduct && cart.itemDiscount">
								({{perCalculate(cart.parentProduct.totalPrice, cart.itemDiscount)| number: '1.0-0' }}%
							OFF)</span>

							<span *ngIf="cart.parentProduct && cart.itemDiscount">
									({{perCalculate(cart.parentProduct.totalPrice* cart.quantity, cart.itemDiscount)| number: '1.0-0' }}%
								OFF)</span>

					</label>
				</div>
				</div>
			</div>


		</div>
			<div class="text-center col-md-12" ><a *ngIf="emptyMessage" routerLink="/categories" class="shoppingContinue floatNone">+ Add items</a></div>
			<a *ngIf="!emptyMessage" routerLink="/categories" class="shoppingContinue">Continue Shopping</a>
			</div>
		  </div>
		</div>

		<div class="col-lg-3 col-md-4">
		  <div class="priceDetailBox jQueryEqualHeight">
				<h3>Price Details</h3>
				<!-- coupon code -->

				<ul class="priceDetail">
					<li>
						<a *ngIf="htmlOptions.haveApplyCode" class="promoCode" (click)="haveApplyCode()" href="javascript:void(0)">Have
							Promo
							code?</a>
						<div class="row" *ngIf="htmlOptions.applyCode">
							<label class="col-md-12 no-maring-box inenr-promo-code">
								<input type="text" maxlength="80" name="promoCodeText" trim="blur" [(ngModel)]="promoCode.promoCodeText"
									placeholder="Promo code" #promoCodeText="ngModel" required>
								<!--  <div *ngIf="f.submitted && !promoCodeText.valid" class="invalid-feedback-signup text-left">Promo code field is
				                required</div> -->
							</label>
							<label class="col-md-12 code-box ">
								<a class="promoCode" id="applyButtonDisabled" (click)="applyPromoCode()" href="javascript:void(0)">Apply</a>
								<a class="promoCode cancelProCodeBtn" (click)="cancelPromoCode()" href="javascript:void(0)">cancel</a>
							</label>
						</div>

						<div class="promo-cose-applay" *ngIf="htmlOptions.appliedCode">
							<div class="promo-box-div">
								<i class="fa fa-check-circle" aria-hidden="true"></i>
							</div>
							<div class="promo-divs-main">
								<div class="promocode-name">{{htmlOptions.appliedCodeText}}</div> Code applied successfully
							</div>
							<div class="remove-btn">
								<a class="promoCode remove-btn" (click)="removePromoCode()" href="javascript:void(0)"><i
										class="fa fa-times-circle" aria-hidden="true"></i></a>
							</div>
						</div>
					</li>
				</ul>
				<!-- coupon code -->

			<ul class="priceDetail">
			  <li><span>Bag Total</span> <span> Rs. {{finaMrpValue}}</span></li>
			  <li *ngIf="discount"><span>Bag Discount </span> <span> - Rs. {{discount}} ({{discountPercent | number: '1.0-0' }}%)</span></li>
				<!-- <li><span>Shipping charges </span>
					<span class="pinkColor" *ngIf="totalShippingCharge">&#8377; {{totalShippingCharge}}</span>
					<span class="pinkColor" *ngIf="!totalShippingCharge">&#8377; 0</span>
				</li> -->
				<li *ngIf='couponDiscountValue'>
					<span>Coupon Discount</span>
					<span class="pinkColor">&#8377; {{couponDiscountValue}}</span>
				</li>
				<li *ngIf='specialDiscountValue'>
					<span>Special Discount </span>
					<span class="pinkColor">&#8377; {{specialDiscountValue}}</span>
				</li>
			</ul>
			<ul class="priceDetail TotalPriRow">
			  <li><span>Order Total</span> <span> <strong>Rs. {{finaPriceValue}}</strong></span></li>
			</ul>
			<a *ngIf="finaPriceValue" routerLink="/checkout" class="checkOutBtn">Checkout</a>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>