<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp heading_page_top">
        <h3>Terms & Conditions</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <div class="order_box">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="terms_conf_text">
                      <p>
                        By using this website and/or placing an order, you agree to be bound by the terms and
                        conditions set out below. Please also read our Privacy Policy regarding personal information
                        provided by you.</p>
                      <p>No prior notice for amendment to the terms, the amendment will be applied to orders
                        thereafter. Upon confirmation of your orders, we will not be able to make any changes.</p>
                      <p>Copyright</p>
                      <p>The entire content included in this site, including but not limited to text, graphics or code
                        is copyrighted as a collective work under copyright laws, and is the property of Vopers. The
                        collective work includes works that are licensed to Vopers. ALL RIGHTS RESERVED.
                        Permission is granted to electronically copy and print hard copy portions of this site for the
                        sole purpose of placing an order with Vopers or purchasing Vopers products.</p>
                      <p>You may display and, subject to any expressly stated restrictions or limitations relating to
                        specific material, download or print portions of the material from the different areas of the
                        site solely for your own non-commercial use, or to place an order with Vopers or to purchase
                        Vopers products.
                        Any other use, including but not limited to the reproduction, distribution, displayed
                        transmission of the content of this site is strictly prohibited, unless authorized by Vopers.
                        You further agree not to change or delete any proprietary notices from materials downloaded
                        from the site.</p>

                      <p>Shipping </p>
                      <p>Those items for shipment to countries outside of the INDIA may be subject to taxes, customs
                        duties and fees levied by the destination country ("Import Fees"). The recipient of the
                        shipment is the importer of record in the destination country and is responsible for all Import
                        Fees.
                        With respect to each item for which Import Fees have been calculated, you authorize Vopers
                        Export or Merchant (as applicable) to designate a carrier ("Designated Carrier") to act as your
                        agent with the relevant customs and tax authorities in the destination country, to clear your
                        merchandise, process and remit your actual Import Fees for such item. </p>
                      <p>Use of site</p>
                      <p>Harassment in any manner or form on the site, including via e-mail, chat, or by use of obscene
                        or abusive language, is strictly forbidden. Impersonation of others, including a Vopers or
                        other licensed employee, host, or representative, as well as other members or visitors on the
                        site is prohibited. You may not upload to, distribute, or otherwise publish through the site
                        any content which is libelous, defamatory, obscene, threatening, invasive of privacy or
                        publicity rights, abusive, illegal, or otherwise objectionable which may constitute or
                        encourage a criminal offense, violate the rights of any part tor which may otherwise give rise
                        to liability or violate any law. You may not upload commercial content on the site or use the
                        site to solicit others to join or become members of any other commercial online service or
                        other organization.
                      </p>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>