<div class="priceDetailBox lefttorightBox jQueryEqualHeight">
  <h3>ORDERS</h3>
  <ul class="orderlinks">
    <li><a routerLink="/order-history">Order History</a></li>
    <!-- <li><a routerLink="/favourite-products">Favourite Product</a></li> -->
    <li><a routerLink="/referal-code">Referal Code</a></li>
  </ul>
  <h3>CREDITS </h3>
  <ul class="orderlinks">
    <li><a routerLink="/wallet">Vopers Wallet</a></li>
    <li><a routerLink="/bonus">Earn Bonus</a></li>
  </ul>
  <h3>ACCOUNT</h3>
  <ul class="orderlinks">
    <li><a routerLink="/profile">Profile</a></li> <!-- class="active-links" -->
    <!-- <li><a routerLink="/add-business-profile">Add Business Details</a></li> -->
    <li><a routerLink="/business-profile">Business Details</a></li>
    <li><a routerLink="/changepassword">Change Password</a></li>
    <!-- <li><a routerLink="/address">Addresses</a></li> -->
    <li><a routerLink="/cart">My Cart</a></li>
  </ul>

</div>