<app-header></app-header>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-circus">
    <p style="font-size: 20px; color:white">Loading...</p>
</ngx-spinner>


<!-- <div class="serch_bar_mobiles innerPageSearchBar">
    <div class="serch_bar collapse" id="collapseExample">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-8 col-lg-7 mobile_size_width1">
            <form [formGroup]="searchProductForm" (ngSubmit)="onSubmit()">
              <div class="serch_bar_box">
                <input type="text" formControlName="search" class="form-control" placeholder="Search from more than 1 Lac Products...">
                <span class="serch_btns">
                  <button class=""><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-md-4 col-lg-3 mobile_size_width2">
            <div class="go_to_btn">
              <a routerLink="/wholesale/2" >Go To Wholesale Store</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<div class="top_header_space">
    <div class="pro_slide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_pro_sub">
                        <h2>Catalogs</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <!--  <p *ngIf="message">{{message}}</p> -->
                    <div class="row" *ngIf="productListData">
                        <div class="col-md-4" *ngFor="let product of productListData;let idx=index">
                            <!-- {{product|json}} -->
                            <div class="pro_d1">
                                <div class="discountLabel" *ngIf="product.discounted">
                                    <span>OFFER</span>
                                </div>
                                <span class="top-rightLabel" *ngIf="product.is_featured"> <img src="assets/images/feature-label.png"> </span>

                                <!--  <img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"> -->

                                <div class="col-md-12" *ngIf="product.images?.length == 1">

                                    <div class="productImgOuter lg-img-size"><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img">
                                    </div>
                                </div>
                                <div class="row no-gutters image-group" *ngIf="product.images?.length > 1">
                                    <div class="col-md-8">
                                        <div class="productImgOuter lg-img-size"><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-12" *ngFor="let productImages of product.images;index as i;">
                                                <div *ngIf="i!=0 && i<3" class="productImgOuter sm-size-img"><img src="{{productImages}}" alt="" title="" class="fiexd_size_img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="pro_text_div">{{product.name}}

                                    <!--  <div class="pro_div_heading" [innerHTML]="product.description"><span><i class="fa fa-inr" aria-hidden="true"></i>
                      {{product.totalPrice}}
                    <span *ngIf="product.mrp && (product.mrp > product.totalPrice)" style="text-decoration: line-through;">
                      ₹{{product.mrp}}</span>

                                        </span>
                                    </div> -->
                                    <div class="btnGropup">
                                        <a routerLink="/sub-products/{{product.productId}}" class="btn btn-pink ">View Details</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="!productListDataElse">
                        <div class="col-md-12">
                            <div class="no-record-text">NO RECORD FOUND !!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-social></app-social>
<app-footer></app-footer>