<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp heading_page_top">
		<h3>Delivery Information</h3>
	  </div>
	  <div class="row">
		<div class="col-lg-12 col-md-12">
		  <div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner">
			  <div class="order_box">
				<div class="row">
				  <div class="col-md-12 col-lg-12">
					<div class="terms_conf_text">
					  <p>We strive to deliver products purchased from Vedika Overseas in excellent condition and in the fastest time possible It
						takes us 2 to 3 business days for us to process and dispatch your order. Once dispatched, it takes 5 to 7 business days
						for the order to get delivered. If the order is cancelled, lost or un-delivered to your preferred location, we will
						refund the complete order amount including any shipping charges, if paid online.</p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>