
button.close.pop-btn {
    background-color: #ff3366;
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 8px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 28px;
    padding: 0;
}
button.close.pop-btn:hover{opacity:1; color: #fff}
.pop-fotter-head{text-align: center;
    display: block;
    width: 100%;
    justify-content: center;}
.pop-fotter-head > a {
    color: #ff3366;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}