<app-header></app-header>
<app-content></app-content>
<!-- <app-social></app-social> -->
<!-- popup Guide -->
<!-- [hidden]="true" -->
<a href="javascript:void(0)" id="onBoardingClick" [hidden]="true" data-toggle="modal" data-target="#userOnbording"></a>

<div class="modal fade popboxst-guide" id="userOnbording" tabindex="-1" role="dialog" aria-labelledby="boardingTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="guide-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Watch how to earn with Vopers in 2 minutes</h5>
                <button type="button" class="close pop-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <iframe width="100%" height="325" src="https://www.youtube.com/embed/2Dnd4rRoFWQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer btn-slide-box divShowDesktop pop-fotter-head">
                <a href="javascript:void(0)" data-dismiss="modal">No, I already know how Vopers works</a>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>