<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp">
		<h3>Account</h3>
	  </div>
	  <div class="row">
		<div class="col-lg-3 col-md-4">
		  <app-profile-sidebar></app-profile-sidebar>
		</div>
		<div class="col-lg-9 col-md-8">
		  <div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner">
			  <h2>Vopers Wallet </h2>
			  <div class="wallet_box">
				<div class="wallet_heading"><img src="assets/images/wallet-icon.png"></div>
			  </div>
			  <div class="wallet_prices">Your Balance</div>
			  <div class="wallet_price_Sections">
				<span *ngIf="walletData">
					<i class="fa fa-inr" aria-hidden="true"></i>
					{{walletData.amount}}
				</span>
				<span *ngIf="!walletData">
					<i class="fa fa-inr" aria-hidden="true"></i>
					00.00
				</span>
			  </div>
			<a routerLink="/wallet-history" class="add_many_btn">View Transaction</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>
