<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
  [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Bonus Details </h2>
              <div *ngIf="message"
                [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">
                {{message.message}}</div>
              <div class="order_box mt-2">
                <div class="row" *ngIf="resultBonusData">
                  <div class="col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"><strong>Current Sales:</strong> </div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name">{{resultBonusData.currentSales}}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"><strong>Current Target Bonus Amount:</strong> </div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name">{{resultBonusData.currentTargetBonusAmount}}</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"><strong>Current Week:</strong></div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="resultBonusData">{{resultBonusData.currentWeek}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pinkHeadTable table-responsive" >
              <h4>Bonus Plan List</h4>
            <table class="table table-bordered " style="min-width: 500px;">
              <thead>

                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Plan Name</th>
                  <th scope="col">Target Sales Value</th>
                  <th scope="col">Bonus Amount</th>
                </tr>
              </thead>
              <tbody *ngIf="resultBonusData">
                <tr *ngFor="let bonus of resultBonusData.bonusPlanList; index as i">
                  <td scope="row">{{i+1}}</td>
                  <td class="post-text-ds">{{bonus.tragetLevel}}</td>
                  <td>{{bonus.targetSalesValue}}</td>
                  <td>{{bonus.bonusAmount}}</td>

                </tr>
              </tbody>
              <tbody *ngIf="!resultBonusData">
                <tr>
                  <td colspan="6" class="text-center">No Records Found</td>
                </tr>
              </tbody>
            </table>
</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>