<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space" *ngIf='productdata'>
    <section class="prod_sections">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-slide-bxo">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </div>
                </div>
                <!-- <div  *ngFor="let product of productImages">
	{{product}}
</div> -->
                <div class="col-md-6">
                    <div class="prod_deatils">
                        <h2 *ngIf='productdata'>{{ productdata.name }}

                            <div class="cart_section dropdown pull-right">
                                <a href="javascript:void(0)" class="pull-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-share-alt"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-width:300px; text-align: center;">
                                    <div class="order_cart_div">
                                        <div class="order_heading_div text-center">Product Value Calculation</div>
                                        <div *ngIf="single">
                                            <p class="radiusInput">Value: ₹{{productdata.sizeList[0].totalPrice}}</p>
                                            <input type="text" onPaste="return false" (keypress)="numberOnly($event)" max="100" maxlength="4" name="per" value="" (keyup)="onKey($event,productdata.sizeList[0].totalPrice)" placeholder="Margin %" class="form-control radiusInput text-center">
                                        </div>
                                        <div *ngIf="wholesale">
                                            <p class="radiusInput">Value: ₹{{productdata.mrp}}</p>
                                            <input type="text" onPaste="return false" (keypress)="numberOnly($event)" max="100" maxlength="4" name="per" value="" (keyup)="onKey($event,productdata.mrp)" placeholder="Margin %" class="form-control radiusInput text-center">
                                        </div>

                                        <p *ngIf="finalShareValue">Total: ₹{{finalShareValue | number: '1.0-0'}}</p>
                                        <p *ngIf="!finalShareValue && single">Total: ₹{{productdata.sizeList[0].totalPrice}}</p>
                                        <p *ngIf="!finalShareValue && wholesale">Total: ₹{{productdata.totalPrice}}</p>

                                        <a href="javascript:void(0)" (click)="createFBShareLink()"><img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" width="40" /></a>
                                        <a href="javascript:void(0)" (click)="shareOnPinterest()"><img src="https://s.pinimg.com/webapp/style/images/logo_180-f06edffd.png" alt="Facebook" width="50" /></a>
                                        <!-- <a href="whatsapp://send?text=The text to share!" data-action="share/whatsapp/share"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Facebook" width="50" /></a> -->

                                        <!-- Pawan -->
                                        <!-- <a href="javascript:void(0)" (click)="detectmob()"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
                        alt="Facebook" width="48" /></a> -->

                                        <!-- <div class="row" >
                                    <div class="col-md-6" >
                                      <a href="" class="checkOutBtn">Share</a>
                                    </div>
                                    <div class="col-md-6">
                                      <a href="Javascript:void(0);" class="checkOutBtn">Cancel</a>
                                    </div>
                                  </div> -->
                                    </div>
                                </div>
                            </div>

                        </h2>
                        <div class="sku_details">
                            <div class="sku_li_tags" *ngIf='productdata'><span>SKU:</span> {{productdata.sku}}</div>
                            <!-- <div class="sku_li_tags" *ngIf='productdata'><span>Categories:</span> {{productdata.category.name}} </div> -->
                            <div class="sku_li_tags" *ngIf='productdata'><span>Color:</span> {{productdata.color}}</div>
                            <div class="sku_li_tags" *ngIf='productdata'><span>Supplier:</span> {{productdata.vendorDetails.vendorAlias}}</div>
                        </div>
                        <!-- <span class="shareIconFull" *ngIf='productdata'>{{ productdata.category.name }}

            </span> -->
                        <h5 class="descHead">Description</h5>
                        <div class="descContent" *ngIf='productdata' [innerHTML]="productdata.description"></div>

                        <!-- singled starts -->
                        <div class="size_divs" *ngIf="single">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="price_prodcts">
                                        <div class="price_texts_div">
                                            Price:
                                        </div>
                                        <label class="pricePink" *ngIf='!productValue && productdata'>
                      ₹{{productValue}}
                    </label>
                                        <label class="pricePink" *ngIf='productValue'>

                      <span>₹{{productValue-itemDiscount}} </span>
                      <!-- <span *ngIf="productMRP && (productMRP > productValue) && productValue " style="text-decoration: line-through;">
                        ₹{{productMRP}}</span> -->

                        <span *ngIf="productValue && itemDiscount!=0" style="text-decoration: line-through;">
                            ₹{{productValue}}</span>

                            <span *ngIf="itemDiscount!=0">
                              ({{perCalculate(productValue,itemDiscount)| number: '1.0-0' }}% OFF)
                            </span>
                      <!-- <span *ngIf="productMRP && (productMRP > productValue)"> ({{
                        (((productMRP-productValue)/productMRP)*100)
                        | number: '1.0-0' }}% OFF)
                      </span> -->

                    </label>
                                    </div>
                                </div>

                                <!-- <div class="_2FyFZ">
                  <div class="QWCzK">Offer</div>
                  <div class="_3F2Nk">
                    <div class="DM5zR"><span class="icon-offer-filled _26GkL"></span>
                      <div class="_3lvLZ">
                          {{perCalculate(productValue,itemDiscount)| number: '1.0-0' }}% off on this product
                      </div>
                    </div>
                  </div>
                </div> -->

                                <div class="col-md-8">
                                    <div class="colorset"> Size:</div>
                                    <div class="custom-radios" *ngIf="productdata">
                                        <div *ngIf="single">
                                            <div *ngFor="let size of productdata.sizeList; index as i">
                                                <div>
                                                    <input type="radio" id="color-{{i+1}}" name="color" value="{{i+1}}" [checked]="i === 0" (click)="onClick(productdata.sizeList[i].totalPrice, productdata.sizeList[i].quantity,productdata.sizeList[i].sizeId, productdata.sizeList[i].mrp,productdata.sizeList[i].discountType,productdata.sizeList[i].itemDiscount)">
                                                    <label for="color-{{i+1}}">
                                <span>
                                  {{size.sizeTitle}}
                                </span>
                              </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- wholesale starts -->
                        <div class="size_divs" *ngIf="wholesale">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="price_prodcts margin-top-botm full-width">
                                        <div class="price_texts_div border-btm-heading">
                                            Price:
                                        </div>
                                        <label class="pricePink" *ngIf='productdata'>
                      <!-- ₹{{productdata.mrp}} -->
                      <!-- <span *ngIf="colorset==1">₹{{productdata.totalPrice}}deee </span> -->

                      <!-- <span *ngIf="colorset==1">₹{{itemPrice}} </span>  -->
                      <span *ngIf="colorset==1">₹{{productValue-itemDiscount}} </span>
                      <!-- <span *ngIf="productMRP && (productMRP > productValue) && productValue " style="text-decoration: line-through;">
                        ₹{{productMRP}}</span> -->

                        <span *ngIf="productValue && itemDiscount!=0 && colorset==1" style="text-decoration: line-through;">
                            ₹{{productValue}}</span>

                            <span *ngIf="itemDiscount!=0 && colorset==1">
                              ({{perCalculate(productValue,itemDiscount)| number: '1.0-0' }}% OFF)
                            </span>
                            <!-- {{colorset}} -->
                      <span *ngIf="colorset==2">₹{{itemPrice-itemDiscount}}</span>
                      <span *ngIf="productValue && itemDiscount!=0 && colorset==2" style="text-decoration: line-through;">
                        ₹{{itemPrice}}</span>
                        <!-- {{itemPrice+'|'+itemDiscount+'|'+colorset}} -->
                        <span class="price-off-section" *ngIf="itemDiscount!=0  && colorset==2">
                          ({{perCalculate(itemPrice,itemDiscount)| number: '1.0-0' }}% OFF)
                      </span>
                    </label>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="custom-radios full-width" *ngIf="productdata">
                                        <div class="prodcuts_size border-btm-heading bottom-space-20"> Size Set:
                                            <div class="first-color-size">

                                                <input name="colorset" [(ngModel)]="colorset" id="color_set_size" type="radio" [value]="1" [checked]="colorset===1" />
                                                <label for="color_set_size">
                                <span></span>
                              </label>
                                                <br>
                                            </div>
                                        </div>


                                        <div *ngIf="colorset!=2">
                                            <div *ngIf="wholesale">
                                                <div *ngFor="let size of productdata.sizeList; index as i">
                                                    <div>
                                                        <input type="radio" id="color-{{i+1}}" name="color-{{i+1}}" value="{{i+1}}" checked="checked">
                                                        <label for="color-{{i+1}}">
                                    <span>
                                      {{size.sizeTitle}}
                                    </span>
                                  </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="custom-radios margin-top-botm full-width" *ngIf="productdata">
                                        <div *ngIf="productdata.isColorSet" class="full-width border-btm-heading">
                                            <div class="colorset"> Color Set:</div>
                                            <div class="first-color-size">
                                                <!-- <input type="radio" name="colorset" id="color_set_color" value="2"> -->
                                                <input name="colorset" [(ngModel)]="colorset" (change)="availableSizeColor(productdata.parentProductId,1)" id="wholesale_color_set" type="radio" [value]="2" [checked]="colorset===2" />
                                                <label for="wholesale_color_set">
                            <span></span>
                          </label>
                                                <br>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div *ngIf="colorset==2">
                                <div class="custom-radios" *ngIf="availableSizes">
                                    <!-- {{availableSizes|json}} -->
                                    <div *ngFor="let size of availableSizes;index as i" class="slide">
                                        <!-- (change)="onSelectionChange(size)" -->
                                        <!-- {{size.sizeId}} {{selectedColorSetSizeSelected}} -->
                                        <input type="radio" id="colorSize-{{i+1}}" (change)="availableSizeColor(productdata.parentProductId,size.sizeId)" name="colorSize" value="{{size.sizeId}}" [checked]="selectedColorSetSizeSelected == size.sizeId">
                                        <label for="colorSize-{{i+1}}">
                  <!-- <span *ngIf="size.sizeList[i]"> -->
                    <span>
                      {{size.sizeTitle}}
                  </span>
                </label>
                                    </div>
                                </div>

                                <div class="sub-products-list-ul" *ngIf="availableColors">
                                    <ul>
                                        <!-- {{availableColors | json }} -->
                                        <li *ngFor="let product of availableColors;index as i" class="slide">
                                            <!-- {{productId}} -->
                                            <div class="colorSetImg" [ngClass]="{'active-item': productId == product.productId}">
                                                <a href="javascript:void(0)" (click)="colorSetImages(i); htmlOptions.visible = i">
                                                    <img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <!-- <div class="pro_slide" *ngIf="colorset==2">
                <div class="col-md-12" *ngIf="!similarProducts">

                    <p class="center-align">Color set not available</p>
                  </div>
                  <div class="col-md-12" *ngIf="similarProducts">
                      <div class="row" >
                      <div *ngFor="let product of similarProducts; let idf=index; index as i" class="slide col-sm-6  col-xl-3">
                        <div class="" *ngIf="idf<4">
                         //<span class="top-rightLabel" *ngIf="product.is_featured">
                            <img src="assets/images/feature-label.png"> </span>
                          <div class="productImgOuter" style="height:0px;">

                              <a href="javascript:void(0)" class="" (click)="colorSetImages(i)">
                                <img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img">
                              </a>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
              </div>
             -->




                        <!-- <div class="sku_details">
              <div class="sku_li_tags" *ngIf='productdata'><span>SKU:</span> {{productdata.name}}</div>
              <div class="sku_li_tags" *ngIf='productdata'><span>Categories:</span> {{productdata.category.name}} </div>
            </div> -->

                        <div class="pro_cart_btns" *ngIf="zeroQuantity">
                            <div class="products_btsn">
                                <div class="input-group number-spinner">
                                    <span class="input-group-btn data-dwn">
                    <button class="btn btn-add-less" (click)="qtyDecr(quantity)" data-dir="dwn"><i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </span>
                                    <input readonly type="text" class="form-control text-center" value="{{quantity}}" min="1" max="40">
                                    <span class="input-group-btn data-up">
                    <button class="btn btn-add-less" (click)="qtyIncr(quantity)" data-dir="up"><i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  </span>
                                </div>
                            </div>
                            <div class="chekc_btn_cart">
                                <a href="javascript:void(0)" class="checkOutBtn" (click)="addToCart()">Add to Cart</a>
                            </div>
                        </div>

                        <div class="pro_cart_btns" *ngIf="!zeroQuantity">
                            <div class="products_btsn">
                                <span class="req">Currently Unavailable</span>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- {{similarProducts.length}} -->

    <div class="pro_slide top-space-none" *ngIf="similarProducts.length>=1 && colorset==1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_pro_sub">
                        <h2>Similar Products</h2>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="!similarProducts">
                    <p class="center-align"></p>
                    <p class="center-align">Similar Items not available in the list</p>
                </div>
                <div class="col-md-12" *ngIf="similarProducts">
                    <div class="row">
                        <div *ngFor="let product of similarProducts; let idf=index;" class="slide col-sm-6  col-xl-3">
                            <div class="pro_d1" *ngIf="idf<4">
                                <span class="top-rightLabel" *ngIf="product.is_featured"> <img src="assets/images/feature-label.png"> </span>
                                <div class="productImgOuter"><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                <div class="pro_text_div proBoxNewDesign ">
                                    <div class="pro_div_heading">Category - {{product.category.name}}</div>
                                    {{product.name}}
                                    <div class="pro_div_heading">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>
                      {{product.totalPrice}}

                      <!-- <span *ngIf="product.itemDiscount">
                        ({{((product.itemDiscount/product.totalPrice)*100)
                                                | number: '1.0-0' }}% OFF)
                      </span> -->
                                        <!--  <span *ngIf="product.mrp && (product.mrp > product.totalPrice)" style="text-decoration: line-through;">
                        ₹{{product.mrp}}</span> -->
                                        <!-- <span *ngIf="product.mrp && (product.mrp > product.totalPrice)"> ({{
                        (((product.mrp-product.totalPrice)/product.mrp)*100)
                        | number: '1.0-0' }}% OFF)
                      </span> -->
                                        </span>
                                    </div>
                                    <div class="btnGropup">
                                        <a href="/productdetails/{{product.productId}}" class="btn btn-pink ">View Details</a>
                                        <!-- <a href="javascript:void()" class="btn btn-white pull-right" >Add to Cart2</a>  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="pro_slide">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="heading_pro_sub">
            <h2>Featured Items</h2>
          </div>
        </div>
        <div class="col-md-12" *ngIf="!products">
          <p class="center-align"></p>
          <p class="center-align">Featured Items not available in the list</p>
        </div>
        <div class="col-md-12" *ngIf="products">
            <div class="row" >
            <div *ngFor="let product of products; let idf=index;" class="slide col-sm-6  col-xl-3">
              <div class="pro_d1" *ngIf="idf<4">
                <span class="top-rightLabel" *ngIf="product.is_featured"> <img src="assets/images/feature-label.png"> </span>
                <div class="productImgOuter" ><img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                <div class="pro_text_div proBoxNewDesign ">
                    <div class="pro_div_heading"> - {{product.category.name}}</div>
                  {{product.name}}
                  <div class="pro_div_heading">
                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                      {{product.totalPrice}}
                      <span *ngIf="product.mrp && (product.mrp > product.totalPrice)" style="text-decoration: line-through;">
                        ₹{{product.mrp}}</span>
                      <span *ngIf="product.mrp && (product.mrp > product.totalPrice)"> ({{
                        (((product.mrp-product.totalPrice)/product.mrp)*100)
                        | number: '1.0-0' }}% OFF)
                      </span>
                    </span>
                  </div>
                  <div class="btnGropup">
                    <a href="/productdetails/{{product.productId}}" class="btn btn-pink ">View Details</a>
                     //<a href="javascript:void()" class="btn btn-white pull-right" >Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<app-social></app-social>
<app-footer></app-footer>