<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
    <div class="pro_slide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_pro_sub">
                        <h2>Catalog Products</h2>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="getsubproducts">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let subproducts of getsubproducts | paginate: { itemsPerPage: 12, currentPage: p }; index as i;">
                            <div class="pro_d1">
                                <div class="discountLabel" *ngIf="subproducts.discounted">
                                    <span>OFFER</span>
                                </div>
                                <!-- {{subproducts.productId | json}} -->
                                <span class="top-rightLabel" *ngIf="subproducts.favorite == true ">
                     <img  (click)="myfavouriteProducts(subproducts.productId,0,i)" title="Mark as a favourite" src="assets/images/heart-fill.png">
                      </span>
                                <span class="top-rightLabel" *ngIf="subproducts.favorite == false ">
                         <img  (click)="myfavouriteProducts(subproducts.productId,1,i)" title="Mark as a favourite" src="assets/images/heart-icon.png">
                          </span>
                                <div class="productImgOuter"><img src="{{subproducts.displayImage}}" alt="" title="" class="fiexd_size_img"></div>
                                <div class="pro_text_div">
                                    {{subproducts.name}}

                                    <div class="pro_div_heading" [innerHTML]="subproducts.description ? subproducts.description.substring(0,50)+'...' : subproducts.description">


                                        <span><i class="fa fa-inr" aria-hidden="true"></i>
                        {{subproducts.totalPrice}}
                      <span *ngIf="subproducts.mrp && (subproducts.mrp > subproducts.totalPrice)" style="text-decoration: line-through;">
                        ₹{{subproducts.mrp}}</span>

                                        </span>
                                    </div>

                                    <div class="btnGropup">
                                        <a routerLink="/productdetails/{{subproducts.productId}}" class="btn btn-pink ">View Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="!getsubproducts">
                    <div class="no-record-text">NO RECORD FOUND !!</div>
                </div>

                <div class="col-md-12 text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- <app-social></app-social> -->
<app-footer></app-footer>