*{
    outline: none;
}
.serch_bar_box .serch_btns {
    position: absolute;
    right: 10px;
    bottom: 0;
}
.serch_bar_box .serch_btns > button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
}
.serch_bar_box .serch_btns > button > i {
    color: #000000;
    font-size: 28px;
}