<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
    <section class="cartOuter">
        <div class="container">
            <div class="accDetailTOp">
                <h3>Account</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <app-profile-sidebar></app-profile-sidebar>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="shadowWhiteBox jQueryEqualHeight">
                        <div class="cartInner" *ngIf="orderData">
                            <h2>Order Details</h2>

                            <div class="more-deatils-btn" *ngIf="orderData.orderItems[0].orderStatus == 'Dispatched' || orderData.orderItems[0].orderStatus == 'OnTheWay'">
                                <a routerLink="/track-order/{{orderId}}"><i class="fa fa-truck" aria-hidden="true"></i>
                                    Track Order</a>
                            </div>
                            <p><b>Order Id</b>: {{orderId}}</p>
                            <div class="cartBox" *ngFor="let orderDataitems of orderData.orderItems;index as i">

                                <div class="cartDisImg" *ngIf="orderDataitems.product.displayImage">
                                    <img src="{{orderDataitems.product.displayImage}}">
                                </div>
                                <div class="cartDisImg" *ngIf="orderDataitems.product.subProducts">
                                    <img src="{{orderDataitems.product.subProducts[0].displayImage}}">
                                </div>
                                <div class="cartDetail" *ngIf="orderDataitems.product">
                                    <h3>{{orderDataitems.product.name}}</h3>
                                    <p><b>Order Status: </b>{{orderDataitems.orderStatus}}</p>
                                    <p><b>Ordered Date: </b>{{orderData.orderDate.split(' ')[0]}}</p>
                                    <p><b>Delivery Date: </b>{{orderDataitems.deliveryDate.split(' ')[0]}}</p>
                                    <p><b>Supplier: </b>{{orderDataitems.product.vendorDetails.vendorAlias}}</p>

                                    <label class="pricePink">

                                        <span>₹{{orderDataitems.amount - orderDataitems.discountedAmount}} </span>
                                        <span *ngIf="orderDataitems.discountedAmount" style="text-decoration: line-through;">₹{{orderDataitems.amount}}</span>

                                        <span *ngIf="orderDataitems.discountedAmount"> ({{perCalculate(orderDataitems.amount, orderDataitems.discountedAmount)| number: '1.0-0' }}%
                                            OFF)</span>
                                   <!--      <span
                                            *ngIf="orderDataitems.mrp && (orderDataitems.mrp > orderDataitems.product.totalPrice)"
                                            style="text-decoration: line-through;">
                                            ₹{{orderDataitems.product.mrp}}</span> -->
                                    </label>
                                    <div class="more-deatils-btn" *ngIf="orderDataitems.orderStatus == 'Delivered'">
                                        <a routerLink="/return-order" [queryParams]="{ id: orderId,itemuuid: orderDataitems.orderItemUuid}"><i
                                                class="fa fa-arrow-left" aria-hidden="true"></i> Return Order</a>
                                    </div>
                                    <div *ngIf="orderDataitems.orderStatus == 'Placed' " class="more-deatils-btn">
                                        <a routerLink="/cancel-order" [queryParams]="{ id: orderId,itemuuid: orderDataitems.orderItemUuid}" class="">
                                            Cancel Order <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="cartDetail" *ngIf="orderDataitems.product.subProducts">
                                    <div *ngFor="let multipleimgs of orderDataitems.product.subProducts" class="inner-product-list">
                                        <ul>
                                            <li *ngFor="let img of multipleimgs.images" class="inner-ullist-img">
                                                <img src="{{img}}" alt="" title="">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="more-deatils-btn" *ngIf="orderDataitems.orderStatus == 'Delivered'">
                                        <a routerLink="/return-order" [queryParams]="{ id: orderId,itemuuid: orderDataitems.orderItemUuid}"><i
                                                class="fa fa-arrow-left" aria-hidden="true"></i> Return Order</a>
                                    </div>
                                    <div *ngIf="orderDataitems.orderStatus == 'Placed' " class="more-deatils-btn">
                                        <a routerLink="/cancel-order" [queryParams]="{ id: orderId,itemuuid: orderDataitems.orderItemUuid}" class="">
                                            Cancel Order <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-social></app-social>
<app-footer></app-footer>