<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="login_page_set">
        <div class="custom_pop">
          <div class="modal_title_login">Sign Up</div>
          <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode != 200 }">{{message.message}}</div>

         <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="name">Name <span class="req">*</span></label>
                  <input type="text" maxlength="50" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <!-- {{f.name.errors | json}} -->
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name field is required</div>
                    <div *ngIf="f.name.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="email">Email <span class="req">*</span></label>
                  <input type="text" maxlength="50" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email field is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    <div *ngIf="f.email.errors.pattern">White space not allowed</div>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="mobile">Mobile Number <span class="req">*</span></label>
                  <input type="text" onPaste="return false"  (keypress)="keyPress($event)" formControlName="mobile_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors }" />
                  <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile_number.errors.required">Mobile Number field is required</div>
                    <div *ngIf="f.mobile_number.errors.min">Mobile Number must be 10 characters</div>
                    <div *ngIf="f.mobile_number.errors.max">Mobile Number must be 10 characters</div>
                    <div *ngIf="f.mobile_number.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">Address <span class="req">*</span></label>
                  <input type="text"  maxlength="150" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address field is required</div>
                    <div *ngIf="f.address.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="password">Password <span class="req">*</span></label>
                  <input type="password"  maxlength="50" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password field is required</div>
                    <div *ngIf="f.password.errors.pattern">White space not allowed</div>
                    <div *ngIf="f.password.errors.minlength">Password field must be at least 6 characters</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="confirm_password">Confirm Password <span class="req">*</span></label>
                  <input type="password"  maxlength="50" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                  <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                    <div *ngIf="f.confirm_password.errors.required">Confirm Password field is required</div>
                    <div *ngIf="f.confirm_password.errors.notEquivalent">
                      Password field value does not match with Confirm Password field value.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="userReferCode">Referral code </label>
                  <input type="text" maxlength="50" formControlName="userReferCode" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.userReferCode.errors }" />
                  <!-- {{f.userReferCode.errors | json}} -->
                  <div *ngIf="submitted && f.userReferCode.errors" class="invalid-feedback">
                    <div *ngIf="f.userReferCode.errors.required">Referral field is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="custom-radios">
                  <div>
                    <input type="radio" id="gridCheck1"  formControlName="userType" class="circleRadio" value="2" [checked]="1==1" >
                    <label for="gridCheck1">
                      <span></span>
                      Wholesaler
                    </label>
                  </div>
                  <div>
                    <input type="radio" id="gridCheck12" formControlName="userType" class="circleRadio" value="1" >
                    <label for="gridCheck12">
                      <span></span>
                      Reseller
                    </label>
                  </div>
                  <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                    <div *ngIf="f.userType.errors.required">User Type field is required</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button type="submit" class="btn btn-custom">SignUp</button> -->
            <button class="btn btn-custom">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>